<!DOCTYPE html>
<html>
<head>
    <%- include('./../includes/metadata'); -%>
    <link rel="stylesheet/less" type="text/css" href="admin/css/admin.style.less" />
    <link rel="stylesheet/less" type="text/css" href="admin/css/common.style.less" />
    <% if (redirectToStatisticsPageNeeded) { %>
        <script type="text/javascript">
          window.location.replace('/admin/statistics')
        </script>
    <% } %>

</head>
<body>
    <header id="header" class="header">
        <div class="container-fluid">
            <div class="row">
                <strong class="logo lg-small"><a href=".">Pixel Robotics</a></strong>
            </div>
        </div>
    </header>
    <div id="authorization" class="container-fluid">
        <div class="row">
            <h3> Welcome to Pixel Robotics admin console</h3>
            <form class="row g-3" onsubmit="submitted();return false;">
                <div class="mb-3">
                    <label for="password" class="form-label">Enter your password</label>
                    <input type="password" id="password" class="form-control" placeholder="Password" required>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Enter</button>
                </div>
            </form>
        </div>
    </div>
    <footer id="footer">
        <div class="container-fluid">
            <div class="text-center">
                <small>&copy; 2022 Pixel Robotics GmbH. All rights reserved</small>
            </div>
        </div>
    </footer>
    <%- include('./../includes/cdn-libs'); -%>
    <script src="./../js/libs/less.js" type="text/javascript"></script>
    <script src="admin/js/admin.main.js"></script>
</body>
</html>
