<div class="col-md-4 col-12 career-col">
    <div class="career-holder">
        <h3><%= title %></h3>
        <div class="d-flex justify-content-center">
            <a target="_blank" class="btn-custom" href="<%= pdfLink %>">Details</a>
        </div>
    </div>
</div>