<footer id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="row d-flex align-items-center">
                    <div class="col-md-6 col-12">
                        <ul class="d-flex flex-row justify-content-md-start justify-content-center">
                            <li><a href="/imprint">Imprint</a></li>
                            <li><a href="/pdf/DatenschutzerklaerungPR.pdf" target="_blank">Privacy</a></li>
                            <li><a href="/pdf/rechtliche_hinweise_PixelRobotics.pdf" target="_blank">Legal</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-12 d-flex justify-content-md-end justify-content-center">
                        <a href="/">
                            <img class="footer-logo" src="../images/pixel-robotics-logo.svg" alt="Pixel Robotics">
                        </a>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col">
                                <div class="text-center">
                                    <small>&copy; 2022 Pixel Robotics GmbH. All rights reserved</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- /footer -->
<section class="cookieElement">
    <div class="container-fluid">
        <div class="col-12">
            <div class="row">
                <div class="col-auto cookie_text">
                    <p>By continuing to browse our site you agree to our use of cookies, web analytics, Privacy Policy and Terms of Service. <a href="../pdf/DatenschutzerklaerungPR.pdf">More information</a></p>
                </div>
                <div class="col ck_btn d-flex justify-content-end">
                    <button class="btn-custom btn-cookies">I agree</button>
                </div>
            </div>
        </div>
    </div>
</section>
