<header id="header" class="header">
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container-fluid">
            <a href="/">
                <span class="pr-logo">Pixel Robotics</span>
<!--                <img class="header-logo" src="./images/pixel-robotics-logo.svg" alt="Pixel Robotics">-->
            </a>
            <div class="refugee-link">
                <a href="help-ukraine/refugees" target="_blank" ><img src="help-ukraine/images/Flag_of_Ukraine.png" alt="" > <span>Help Ukraine</span></a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav main-nav">
                    <% if (!hideHomeLink) { %>
                        <li class="">
                            <a class="<% if (activeTab === "home") { %> active-nav <% } %>" href="/">
                                Home
                            </a>
                        </li>
                    <% } %>
                    <li class="">
                        <a class="<% if (activeTab === "newsAndEvents") { %> active-nav <% } %>" href="/news-and-events">
                            <% if (lang === 'EN_en') { %> News & Events <% } else { %>  News & Events <% } %>
                        </a>
                    </li>
                        <li class="">
                        <a class="<% if (activeTab === "career") { %> active-nav <% } %>" href="/career">
                            <% if (lang === 'EN_en') { %> Career <% } else { %> Karriere <% } %>
                        </a>
                    </li>
                    <li class="">
                        <a class="<% if (activeTab === "contact") { %> active-nav <% } %>" href="/contact">
                            <% if (lang === 'EN_en') { %> Contact <% } else { %> Kontakt <% } %>
                        </a>
                    </li>
                    <%- include('languages-picker'); -%>
                </ul>
                <div class="mobile-contact-info d-md-none d-flex">
                    <div class="col-12 d-flex flex-column mb-2">
                        <span>E-mail:</span>
                        <a href="mailto:info@pixel-robotics.eu" class="o-text">info@pixel-robotics.eu</a>
                    </div>
                    <div class="col-12 d-flex flex-column">
                        <span>Phone:</span>
                        <a href="tel:+49 89 20 00 85 18" class="o-text">+49 89 20 00 85 18</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
