<header id="header" class="header" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row d-flex justify-content-between">
                    <div class="col">
                        <img class="header-logo" src="images/pixel-robotics-logo.png" alt="Pixel Robotics">
                    </div>
                    <div class="col d-flex justify-content-end align-items-center">
                        <div class="button_container" id="toggle">
                            <span class="top"></span>
                            <span class="middle"></span>
                            <span class="bottom"></span>
                        </div>
                        <div class="overlay" id="overlay">
                            <nav class="main-nav overlay-menu">
                                <ul class="d-flex">
                                    <li><a href="about" class="">About</a></li>
                                    <li><a href="careers" class="">Careers</a></li>
                                    <li><a href="contact">Contacts</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
