<li class="language-container">
    <div class="nav-wrapper">
        <div class="sl-nav">
            <ul class="languages-wrapper">
                <li onclick="toggleLanguage(); return false;">
                    <ul class="language-list">
                        <li onclick="changeLanguage('DE_de');return false"><div id="german-lang"></div> <span class="active">DE</span></li>
                        <li onclick="changeLanguage('EN_en');return false"><div id="english-lang"></div> <span>EN</span></li>
                    </ul>
                    <span id="lang-name"></span>
                </li>
            </ul>
        </div>
    </div>
</li>