<li class="language-container">
    <div class="nav-wrapper">
        <div class="sl-nav">
            <ul class="languages-wrapper">
                <li onclick="toggleLanguage(); return false;">
                    <i class="fa fa-angle-down sl-flag flag-de" aria-hidden="true"></i>
                    <ul class="language-list">
                        <li onclick="changeLanguage('DE_de');return false"><i class="sl-flag flag-de"><div id="germany"></div></i> <span class="active">DE</span></li>
                        <li onclick="changeLanguage('EN_en');return false"><i class="sl-flag flag-en"><div id="germany"></div></i> <span>EN</span></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</li>