<!-- Popup Card -->
<div class="modal fade" id="popupCard" tabindex="-1" role="dialog" aria-labelledby="popupCardLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img class="card-img-top" src="images/mailing/christmas/PR-greeting-2021.jpg">
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-12 col-md-12 offset-md-12 col-lg-12 text-right pr-0">
                        <button id="popupCardClose" type="button" class="btn-custom" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>