<!DOCTYPE html>
<html lang="de">
<head>
    <%- include('includes/metadata'); -%>
</head>
<body class="about_page">
<div id="wrapper">
    <header id="header" class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 col-md-12">
                    <div class="row">
                        <div class="col-4">
                            <strong class="logo lg-small"><a href=".">Pixel Robotics</a></strong>
                        </div>
                        <div class="col">
                            <div class="button_container" id="toggle">
                                <span class="top"></span>
                                <span class="middle"></span>
                                <span class="bottom"></span>
                            </div>
                            <div class="overlay" id="overlay">
                                <nav class="main-nav overlay-menu">
                                    <ul>
                                        <li><a href=".">Main page</a></li>
                                        <li class="active"><a href="about">About</a></li>
                                        <li><a href="careers">Careers</a></li>
                                        <li><a href="contact">Contacts</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="main">
        <section class="about_heading">
            <div class="container">
                <h1>Speed - Innovation - Efficiency</h1>
            </div>
        </section>
        <div class="about_block">
            <div class="container">
                <div class="row about-row">
                    <div class="col-md-6">
                        <figure class="about-image">
                            <img src="images/about-01.jpg" alt="" class="img-responsive">
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <p><span class="highlight">Pixel Robotics</span> is the expert in Machine Learning development, especially in the scope of robotics and object recognition. We have long experience with real-time applications. We know how to combine different technologies and how to create stable and extremely reliable applications.</p>
                        <p>We are providing "ready-to-use" solutions which can be easily integrated in the existing IT-world. We are not just renting developers - we are providing solutions! We know what is possible with today's technologies for real live applications - we know what is still research.</p>
                        <p>We have long track record of successful AI-solutions. In the cooperation with our customers extremely innovative products were created.</p>
                    </div>
                </div>
                <div class="row about-row">
                    <div class="col-md-6">
                        <p>Besides development, we also take care of ongoing support or provide application experts for market-driven and cost-effective support.</p>
                        <p>Pre-sales support can be offered, too.</p>
                        <p><span class="highlight">Pixel Robotics</span> combines the strengths of our location in Munich / Germany with a worldwide network of private entrepreneurs.</p>
                    </div>
                    <div class="col-md-6">
                        <figure class="about-image">
                            <img src="images/about-02.jpg" alt="" class="img-responsive">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('includes/footer'); -%>
    <%- include('includes/default-scripts'); -%></div></div>
</body>
</html>
