<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pixel Robotics - Imprint</title>
<!--    <link type="image/x-icon" rel="shortcut icon" href="/images/favicon.ico">-->
    <link type="image/png" sizes="16x16" rel="icon" href="/images/favicon-16x16.png">
    <link type="image/png" sizes="32x32" rel="icon" href="/images/favicon-32x32.png">
    <link type="image/png" sizes="192x192" rel="icon" href="/images/android-chrome-192x192.png">
    <link type="image/png" sizes="512x512" rel="icon" href="/images/android-chrome-512x512.png">
    <link href="https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script><![endif]-->
</head>
<body class="about_page impressum-page">
<div id="wrapper">
    <header id="header" class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 col-md-12">
                    <div class="row">
                        <div class="col">
                            <strong class="logo lg-small"><a href="views/includes">Pixel Robotics</a></strong>
                        </div>
                        <div class="col">
                            <div class="button_container" id="toggle">
                                <span class="top"></span>
                                <span class="middle"></span>
                                <span class="bottom"></span>
                            </div>
                            <div class="overlay" id="overlay">
                                <nav class="main-nav overlay-menu">
                                    <ul>
                                        <li><a href="/">Main page</a></li>
                                        <li class=""><a href="about">About</a></li>
                                        <li><a href="careers">Careers</a></li>
                                        <li><a href="contact">Contacts</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="main" class="impressum">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Imprint</h1>
                    <h2>Pixel Robotics GmbH</h2>
                    <address>
                        Riesstrasse 18<br>
                        80992 Munich, Germany<br>
                    </address>
                    <strong>Managing partner:</strong>
                    <p>Valentin Plapp</p>
                    <p>Email: info@pixel-robotics.eu</p>
                    <p>
                        Headquarters: Munich<br>District Court Munich<br>HRB 23 11 06<br>VAT-ID: DE 311 269 992
                    </p>
                    <p>The owner of the site does not gurantee for topicality, correctness, completeness or quality of the shown information. Please check the pages privacy and the legal hints, too.</p>
                </div>
            </div>
        </div>
    </div>
    <%- include('includes/footer'); -%>
</div>
</body>
</html>
