<?php include "secure.php";?>
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('includes/metadata'); -%>
  <link rel="stylesheet/less" type="text/css" href="css/index.less" />
</head>
<body>
<section id="first-screen">
  <%- include('includes/header'); -%>
  <div class="banner d-flex">
    <div class="main-heading d-flex">
      <span class="pre-title">autonomous robots cooperating with humans</span>
      <h1>Vision-based Robotics</h1>
      <p>Pixel Robotics uses AI, Computer Vision and robotics to transport pallets free of restrictions. Automate transport logistics processes, no changes required, working together cooperating with humans.</p>
      <a href="TODO" class="btn-custom scroll-to">Sign up for our webinar</a>
    </div>
    <div class="col main-image"></div>
  </div>
</section>
<div id="main">
  <section id="how-it-works" class="">
    <div class="container">
      <div class="hiw-wrapper">
        <div class="title-holder text-center">
          <h2>How it works</h2>
          <h5><b>The enabler:</b> AI recognition units distributed in the warehouse ceiling</h5>
        </div>
        <div class="row fg-1ist">
          <div class="col-md-6 col-12">
            <div class="fg-item d-flex">
              <span class="hiw-number">1</span>
              <figure class="d-flex figure-holder">
                <div class="figure-image figure-1">
                  <img src="images/hiw-1.svg" alt="Machine Learning">
                </div>
                <figcaption>
                  <p>AI recognition units placed in the warehouse ceiling track everything in realtime</p>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="fg-item d-flex">
              <span class="hiw-number">2</span>
              <figure class="d-flex figure-holder">
                <div class="figure-image figure-2">
                  <img src="images/hiw-2.svg" alt="Machine Learning">
                </div>
                <figcaption>
                  <p>They analyze the area for obstacles and other vehicles</p>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="fg-item d-flex">
              <span class="hiw-number">3</span>
              <figure class="d-flex figure-holder">
                <div class="figure-image figure-3">
                  <img src="images/hiw-3.svg" alt="Machine Learning">
                </div>
                <figcaption>
                  <p>Pallets, target lanes, and their availability is determined</p>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="fg-item d-flex">
              <span class="hiw-number">4</span>
              <figure class="d-flex">
                <div class="figure-holder figure-4">
                  <img src="images/hiw-4.svg" alt="Machine Learning">
                </div>
                <figcaption>
                  <p>Information is visualized in real-time in our digital twin fleet management</p>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="navigation">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="title-holder">
            <h2>Navigation</h2>
            <h5>The top-down view enables unprecedented precision and reliability even in crowded and fast-changing environments</h5>
          </div>
        </div>
      </div>
      <div class="navigation-wrapper row">
        <div class="col-md-4 col-12">
          <img src="images/nav-1.png" alt="1">
          <p>Pallets can be picked from anywhere. <b>No special floor markings required.</b></p>
        </div>
        <div class="col-md-4 col-12">
          <img src="images/nav-2.png" alt="2">
          <p>AMRs can follow <b>virtual lanes</b> and <b>avoid obstacles</b> freely. Localization and navigation is precise, even in fast-changing environments such as bulk areas</p>
        </div>
        <div class="col-md-4 col-12">
          <img src="images/nav-3.png" alt="3">
          <p>AMRs can <b>interact</b> with manually-driven vehicles</p>
        </div>
      </div>
    </div>
    <br><br><br><br><br><br>

    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2 col-12 text-center">
          <div class="title-holder">
            <h2>Navigation</h2>
            <h5>The top-down view enables unprecedented precision and reliability even in crowded and fast-changing environments</h5>
          </div>
        </div>
      </div>
      <!-- Slider main container -->
      <div class="swiper">
        <div class="swiper-wrapper navigation-wrapper">
          <div class="swiper-slide">
            <div class="row">
              <div class="col-6">
                <img src="images/nav-1.png" alt="1">
              </div>
              <div class="navigation-text-holder col-6 d-flex">
                <h5 class="navigation-text">Pallets can be picked from anywhere.<br><b>No special floor markings required.</b></h5>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="row">
              <div class="col-6">
                <img src="images/nav-2.png" alt="1">
              </div>
              <div class="navigation-text-holder col-6 d-flex">
                <h5 class="navigation-text">AMRs can follow <b>virtual lanes</b> and <b>avoid obstacles</b> freely. Localization and navigation is precise, even in fast-changing environments such as bulk areas</b></h5>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="row">
              <div class="col-6">
                <img src="images/nav-3.png" alt="1">
              </div>
              <div class="navigation-text-holder col-6 d-flex">
                <h5 class="navigation-text">AMRs can <b>interact</b> with manually-driven vehicles</b></h5>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>


    </div>
  </section>
  <section id="navigation">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="title-holder">
            <h2>Navigation</h2>
            <h5>The top-down view enables unprecedented precision and reliability even in crowded and fast-changing environments</h5>
          </div>
        </div>
      </div>
      <div class="navigation-wrapper row">
        <div class="col-md-12 col-12">
          <div class="row">
            <div class="col-6">
              <img src="images/nav-1.png" alt="1">
            </div>
            <div class="navigation-text-holder col-6 d-flex align-items-center">
              <h5 class="navigation-text">Pallets can be picked from anywhere. <br><b>No special floor markings required.</b></h5>
            </div>
          </div>
          <div class="row">
            <div class="navigation-text-holder col-6 d-flex align-items-center">
              <h5 class="navigation-text">AMRs can follow <b>virtual lanes</b> and <b>avoid obstacles</b> freely. Localization and navigation is precise, even in fast-changing environments such as bulk areas</b></h5>
            </div>
            <div class="col-6">
              <img src="images/nav-2.png" alt="2">
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <img src="images/nav-3.png" alt="1">
            </div>
            <div class="navigation-text-holder col-6 d-flex align-items-center">
              <h5 class="navigation-text">AMRs can <b>interact</b> with manually-driven vehicles</b></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="navigatio2" class="nav-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="title-holder">
            <h2>Navigation</h2>
            <h5>The top-down view enables unprecedented precision and reliability even in crowded and fast-changing environments</h5>
          </div>
        </div>
      </div>
      <div class="navigation-wrapper row">
        <div class="col-4">
          <div id="comparison">
            <figure class="left-nav-image">
              <div id="handle"></div>
              <div id="divisor"></div>
            </figure>
            <input type="range" min="0" max="100" value="50" id="slider" oninput="moveDivisor()">
          </div>
          <p>Pallets can be picked from anywhere. <b>No special floor markings required.</b></p>
        </div>
      </div>
    </div>
  </section>
  <br><br><br><br><br><br>

  <section id="navigation3" class="nav-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 offset-3 col-12">
          <div class="title-holder text-center">
            <h2>Navigation</h2>
            <h5>The top-down view enables unprecedented precision and reliability even in crowded and fast-changing environments</h5>
          </div>
        </div>
      </div>
      <div class="navigation-wrapper row">
        <div class="col-md-12 col-12 d-flex nav-box">
          <div class="row">
            <div class="col-6">
              <div class="text-h">
                <p class="nav-text">Pallets can be picked from anywhere. <br>
                  <span class="bold-text">No special floor markings required.</span></p>
              </div>
            </div>
            <div class="col">
              <img src="images/example-perspective-2.png" alt="3">
            </div>
            <div class="col">
              <img src="images/n-test.png" alt="3">
            </div>
          </div>
        </div>
        <div class="col-md-12 col-12 d-flex nav-box">
          <div class="row">
            <div class="col">
              <img src="images/example-perspective-2.png" alt="3">
            </div>
            <div class="col">
              <img src="images/n-test.png" alt="3">
            </div>
            <div class="col-6">
              <div class="text-h">
                <p class="nav-text">AMRs can follow <b>virtual lanes</b> and <b>avoid obstacles</b> freely. Localization and navigation is precise, even in fast-changing environments such as bulk areas</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-12 d-flex nav-box">
          <div class="row">
            <div class="col-6">
              <div class="text-h">
                <p class="nav-text">AMRs can <b>interact</b> with manually-driven vehicles</p>
              </div>
            </div>
            <div class="col">
              <img src="images/example-perspective-2.png" alt="3">
            </div>
            <div class="col">
              <img src="images/n-test.png" alt="3">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--    </section>-->
  <%- include('includes/footer'); -%>
  <?php include "components/footer.php"; ?>
</div>
<%- include('includes/default-scripts'); -%>

<script>
  function moveDivisor() {
    const divisor = document.getElementById("divisor");
    const handle = document.getElementById("handle");
    const slider = document.getElementById("slider");
    handle.style.left = slider.value+"%";
    divisor.style.width = slider.value+"%";
  }
  window.onload = function() {
    moveDivisor();
  };
</script>

</body>
</html>
