@import "./general.less";

#error-page-wrapper {
  #error-section {
    min-height: calc(100vh - 110px);
    padding: 90px 0 32px;
    display: flex;
    align-items: center;
    & > div {
      & > .row {
        display: flex;
        align-items: center;
      }
    }

    .error-status-holder {
      @media @tablet-md {
        text-align: center;
      }
      .status-code {
        font-weight: 500;
        font-size: 96px;
        line-height: 144px;
        color: #E25303;
      }

      .status-description {
        font-weight: 700;
        font-size: 48px;
        line-height: 72px;
        @media @tablet {
          font-size: 2em;
        }
      }

      .status-info {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
      }
      .error-btn-holder {
        @media @tablet-md {
          justify-content: center;
          display: flex;
        }
      }
    }


  }
}
