@import "./less.variables.less";
@import "./custom-input.less";

#news-and-events-details-section {
  min-height: calc(100vh - 110px);
  padding: 56px 0 48px;
  .ne-top-section {
    height: auto;
    padding: 30px 0 30px;
    background: @main-orange-color;
    color: @white-color;
    position: relative;
    z-index: 0;
    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: red;
      z-index: -1;
      background: url("/images/newsAndEvents/Vector.png") 0 0 no-repeat;
      background-size: cover;
    }
    .go-back-btn {
      margin-bottom: 15px;
      a {
        font-size: 16px;
        line-height: 24px;
        color: @white-color;
        display: flex;
        align-items: center;
        img {
          width: 24px;
          margin-right: 8px;
          filter: brightness(10);
        }
        &:hover {
          text-decoration-line: underline;
        }
      }
    }
    .event-details-box {
      background: @white-color;
      width: max-content;
      padding: 15px;
      border-radius: 6px;
      color: #281f1e;
      font-weight: 500;
      line-height: 1.6em;
      @media @mobile {
        width: 100%;
      }
      .e-d-row {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
        img {
          width: 24px;
          margin-right: 8px;
        }
      }

    }
    .event-title {
      font-weight: 600;
      font-size: 2em;
      line-height: 1.4em;
      margin-bottom: 15px;
      @media @tablet {
        font-size: 1.6em;
      }
    }
    p {
      margin: 0;
    }
    .event-image {
      max-height: 240px;
      min-height: 200px;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 6px;
      box-shadow: 0 0 15px rgba(77, 77, 77, .10);
      width: auto;
      max-width: 100%;
      @media @tablet {
        max-height: 160px;
        min-height: 140px;
      }
      @media @tablet-md {
        max-height: 240px;
      }
      @media @mobile {
        max-height: inherit;
        object-fit: inherit;
      }
    }
  }
  .image-container {
    margin: -280px 0 0;
    box-shadow: @custom-shadow;
    border-radius: 6px;
    height: 560px;
    background-color: @white-color;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    @media @desktop-md {
      margin-top: -220px;
      height: 440px;
    }
    @media @tablet {
      margin-top: -160px;
      height: 320px;
    }
    @media @tablet-sm {
      margin-top: -120px;
      height: 240px;
    }
  }
  .content-section {
    padding-top: 48px;
    @media @tablet-md {
      padding-top: 30px;
    }
    .content-container {
      .ul-list {
        margin-left: 15px;
        li {
          line-height: 2em;
          padding-left: 5px;
          &::before {
            content: "\2022";
            color: #E25303;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -20px;
          }
        }
      }
    }

    .social-buttons-container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: flex-end;
      align-items: flex-end;
      justify-content: flex-start;
      text-align: right;
      @media @tablet-md {
        margin-top: 30px;
        align-content: center;
        align-items: center;
      }
      p {
        font-weight: 600;
      }
      .social-buttons {
        display: flex;
        .icon {
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 48px;
            width: 48px;
            border-radius: 6px;
            border: 1px solid #d3d3d3;
            svg {
              path {
                -webkit-transition: all .3s;
                -o-transition: all .3s;
                transition: all .3s;
              }
            }
            &:hover {
              background: @main-orange-color-with-opacity;
              border-color: @main-orange-color-with-opacity;
              svg {
                path {
                  fill: @main-orange-color
                }
              }
            }
          }
        }
        .icon + .icon {
          margin-left: 10px;
        }
      }
    }

  }
  .buttons-container {
    margin-top: 16px;
  }
}

.registration-form {
  padding: 32px 0;
}


.modal {
  .modal-dialog {
    .modal-content {
      background-color: #FFFFFF;
      .close-button {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        .btn-close {
          opacity: 1;
        }

      }
      .modal-header {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: flex-start;
        p {
          margin: 2px 0;
          font-size: 16px;
        }
        h5 {
          margin: 2px 0;
          font-size: 28px;
        }

      }
      .modal-body {
        .form-holder {
          margin-top: 32px;
        }
        .input-forms {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-content: center;
          justify-content: space-between;
          align-items: center;

          .form-control {
            width: 100%;
            height: 48px;
          }
          .right {
            padding-right: 2%;
          }
          .left {
            padding-left: 2%;
          }
        }
      }
      .modal-footer {
        .btn-cancel {
          border: 1px solid #D3D3D3;
          justify-content: center;
          border-radius: 6px;
          width: max-content;
          min-width: 120px;
          height: 48px;
          padding: 0 32px;
          line-height: 48px;
          color: black;
          background-size: 200%;
          background-color: #FFFFFF;
          animation: appear 3s;
          margin: 0 10px 0 0;
        }

      }
    }
  }
}
