@import "./general.less";

#news-and-events-section {
  min-height: calc(100vh - 210px);
  padding: 90px 0 32px;

  .toggle-buttons-wrapper {
    color: @main-orange-color;
    margin: 30px 0;
    display: flex;
    flex-direction: row;

    & > div {
      margin-right: 64px;
      padding: 0;
      height: 48px;
      display: flex;
      align-items: flex-end;
      cursor: pointer;
      & > p {
        position: relative;
        font-size: 16px;
        line-height: 24px;
        margin: 0;

        & > span {
          position: absolute;
          top: -24px;
          right: -24px;
          width: 24px;
          height: 24px;
          background-color: @main-orange-color-with-opacity;
          border-radius: 24px;
          line-height: 24px;
          text-align: center;
          font-size: 12px;
        }
      }
      &:hover {
        p {
          margin-bottom: -1px;
          border-bottom: 1px solid @main-orange-color;
        }
      }
    }
  }

  .events-list-container {
    display: flex;
    justify-content: start;
    .event-container {
      margin: 0 0 48px;
      &:hover {
        cursor: pointer;
      }
      p {
        margin: 0;
      }
      .image-holder {
        position: relative;

        .announcement-container {
          position: absolute;
          background-color: white;
          top: 5px;
          right: 5px;
          height: 28px;
          width: 124px;
          border-radius: 4px;
          flex-direction: row;
          display: flex;
          align-items: center;
          justify-content: center;
          align-content: center;
          flex-wrap: wrap;

          p {
            color: @main-orange-color;
            font-size: 12px;
            line-height: 16px;
            font-weight: 600;
          }
          span {
            font-size: 12px;
            line-height: 12px;
            margin-left: 5px;
          }
        }
      }

      .info-holder {
         margin: 15px 0 0;
        .title {
          font-size: 28px;
          line-height: 42px;
        }
        .sub-title, .title {
          font-weight: 600;
        }
        .sub-title, .event-place, .date {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
}
