<div class="col-12" id="template">
    <div>
        <h5>Pixel Robotics nimmt an den digital networking days teil: "KI, Computer Vision & Robotics - Megatrends eröffnen Chancen für innovative, autonome Roboter".</h5>
        <p></p>
        <p>Die <b>digital networking days</b> sind die digitale Veranstaltungsreihe von INDUSTRIAL Production, KUNSTSTOFF MAGAZIN, materialfluss, LABO und Baugewerbe rund um aktuelle Themen und Entwicklungen. Vom <b>06. bis 07. Dezember 2022</b> widmen sie sich mit <b>praxisnahen Vorträgen, Best-Practice-Beispielen</b> und <b>Workshops</b> dem Thema <b>"Robotik"</b>.</p>
    </div>
    <div class="buttons-container">
        <div class="d-flex">
            <a href="https://events.weka-businessmedien.de/digital-networking-days-robotik/home/">
                <button id="submit-btn" type="button" class="btn-custom" >Weitere Veranstaltungsdetails</button>
            </a>
        </div>
    </div>
</div>
