<div class="col-12" id="news-template">
    <h3>Presseinformation</h3>
    <p>LogiMAT</p>
    <p class="bold-text">Pixel Robotics: Intelligente Roboter für den Palettenumschlag</p>
    <p><i>Pixel Robotics präsentiert gemeinsam mit Logivations auf der LogiMAT 2022</i></p>
    <p><span class="bold-text">München, 14.03.2022</span> – Der Pionier für intelligente Roboter in der Logistik - <a href="./" target="_blank" class="o-text">Pixel Robotics GmbH</a> - präsentiert vom 31. Mai bis 2. Juni 2022 auf der LogiMAT in Stuttgart (Halle 8, Stand F05) als Mitaussteller der <a href="https://www.logivations.com/de" target="_blank" class="o-text">Logivations GmbH</a> erstmalig Roboter, die von Künstlicher Intelligenz gesteuert werden.</p>
    <p>Pixel Robotics baut intelligente Roboter, die auf die Intralogistik zugeschnitten sind und ihre Umgebung mit Hilfe Künstlicher Intelligenz erkennen. Mittels der einzigartigen KI-Wahrnehmungsinfrastruktur entsteht ein digitaler Zwilling des Arbeitsbereichs. Anhand dieses Echtzeitzwillings arbeiten die Roboter von Pixel Robotics mit ihren menschlichen Kollegen zusammen – autonom, sicher und mit einer unübertroffenen Flexibilität und Anpassungsfähigkeit.</p>
    <span style="text-decoration: underline">Automatisierter Palettentransport dank KI, Computer Vision und Robotik</span>
    <p>Pixel Robotics kombiniert KI, Computer Vision und Robotik, um innerbetriebliche Palettentransporte zu automatisieren. Der von Grund auf neu entwickelte Roboter PIXEL PT arbeitet kooperativ mit den menschlichen Kollegen zusammen und passt sich dynamisch an bestehende Prozesse in der Intralogistik an.</p>
    <p>Die Roboter sind modular und robust konstruiert, sodass sie für raue Logistikumgebungen bestens geeignet und dazu noch sehr kostengünstig sind. Üblicherweise ergibt sich ein Pay Back von unter 1,5 Jahren.</p>
    <p>In der Intralogistik müssen Paletten meist von Spuren/Bereichen aufgenommen und auf ebensolchen wieder abgestellt werden. Die autonomen Roboter von Pixel Robotics können daher präzise navigieren und auch frei platzierte Paletten finden und aufnehmen. Beim Anfahren wird die Palette inkl. Orientierung erfasst. Dies funktioniert auch mit folierten Paletten. Beim Abstellen werden Paletten an der Umgebung ausgerichtet und so abgestellt wie dies auch ein Staplerfahrer tun würde.</p>
    <span style="text-decoration: underline">Digitaler Zwilling ermöglicht ganzheitliche Sicht und Stauumfahrung</span>
    <p>Mithilfe des Digitalen Zwillings haben die Roboter eine ganzheitliche Sicht auf das Geschehen in ihrer Umgebung. Hindernisse oder Staus können somit schon erkannt werden bevor der Roboter am Hindernis angekommen ist. Damit sind eine einzigartige Stauumfahrung und zudem ein ganzheitliches Management der Stapler- und Roboterflotte möglich.</p>
    <span style="text-decoration: underline">Am Messestand: Erleben Sie den autonomen mobilen Roboter PIXEL PT live </span>
    <p>Pixel Robotics lädt die Messebesucher ein, am Messestand F05 in Halle 8 zu erleben, wie sich Gegenwart und Zukunft mit Robotern, die von Künstlicher Intelligenz gesteuert werden, meistern lassen. Die Experten von Pixel Robotics präsentieren Anwendungsbeispiele, diskutieren mit Ihnen Einsatzszenarien für Ihr Unternehmen und ermitteln mit Ihnen gemeinsam den wirtschaftlichen Nutzen mit unserem online-Pay Back Kalkulator.</p>
    <p><i>(Bei Veröffentlichung Belegexemplar oder Link erbeten)</i></p>
    <p class="bold-text">Weitere Informationen:<br>Bildmaterial: (Grafikdatei angehängt)</p>
    <div class="row">
        <div class="col-sm-6 col-12 mb-3">
            <img src="./images/newsAndEvents/logimat_pr.jpg" alt="KI-navigierter autonomer Palettentransportroboter">
        </div>
    </div>
    <p>Bild: <span class="bold-text">KI-navigierter autonomer Palettentransportroboter</span></p>
    <p class="bold-text">Über Pixel Robotics:</p>
    <p>Pixel Robotics baut intelligente, wahrnehmungsgesteuerte Roboter, die auf die Intralogistik zugeschnitten sind. Mithilfe der einzigartigen KI-Vision-Infrastruktur entsteht ein digitaler Zwilling des Betriebsbereiches. Anhand dieses Echtzeitzwillings arbeiten die Roboter von Pixel Robotics mit ihren menschlichen Kollegen zusammen – autonom, sicher und mit einer unübertroffenen Flexibilität.</p>
    <p>Pixel Robotics hat seinen Hauptsitz in München. <a href="./" target="_blank" class="o-text">pixel-robotics.eu</a></p>
    <p class="bold-text">Pressekontakt:</p>
    <p>Pixel Robotics GmbH<br>
        Herr Valentin Plapp<br>
        Riesstraße 18<br>
        80992 München, Deutschland<br>
        Tel. <a href="tel:+498920008518" class="o-text">+49 89 20008518</a><br>
        Email: <a href="mailto:office@pixel-robotics.eu" class="o-text">office@pixel-robotics.eu</a><br>
        Internet: <a href="./" class="o-text" target="_blank">www.pixel-robotics.eu</a>
    </p>
    <small class="d-flex justify-content-center"><i class="text-center">Intelligente Roboter für den Palettenumschlag: Pixel Robotics präsentiert gemeinsam mit Logivations auf der LogiMAT 2022</i></small>
</div>