<div class="col-12" id="template">
    <div>
        <h5>LogiMAT 2022</h5>
        <p>Treffen Sie unsere Experten in Stuttgart, um die neuesten Innovationen von Pixel Robotics kennenzulernen:</p>
        <h6><span class="bold-text">Vision-based Robotics</span></h6>
        <p>Lassen Sie sich für innovative Projekte inspirieren und erfahren Sie, welche signifikanten Effizienzsteigerungen durch die innovativen Technologien von Pixel Robotics möglich sind.</p>
    </div>
</div>
<div class="col-md-12 col-12">
    <div id="registration" class="registration-form custom-form">
        <form method="post" id="subscribe-form">
            <div class="row check-input-forms">
                <div class="checkbox col-md-12">
                    <p class="bold-text mt-3 mb-3">Interessen/Themen: *</p>
                    <ul class="checkbox-holder">
                        <li class="form-check">
                            <input class="required" id="sce-1" type="checkbox" name="topicsOfInterest" value="KI-basierte Navigation und autonome mobile Roboter – lernen Sie unseren PIXEL PT kennen">
                            <label for="sce-1"><div class="checker"></div>
                                KI-basierte Navigation und autonome mobile Roboter – lernen Sie unseren PIXEL PT kennen
                            </label>
                        </li>
                        <li class="form-check">
                            <input class="required" id="sce-2" type="checkbox" name="topicsOfInterest" value="KI-basierte Objektidentifikation direkt integriert in Ihre Prozesse">
                            <label for="sce-2"><div class="checker"></div>
                                KI-basierte Objektidentifikation direkt integriert in Ihre Prozesse
                            </label>
                        </li>
                        <li class="form-check">
                            <input class="required" id="sce-3" type="checkbox" name="topicsOfInterest" value="Echtzeitlokalisierung basierend auf künstlicher Intelligenz">
                            <label for="sce-3"><div class="checker"></div>
                                Echtzeitlokalisierung basierend auf künstlicher Intelligenz
                            </label>
                        </li>
                        <li class="form-check">
                            <input class="required" id="sce-4" type="checkbox" name="topicsOfInterest" value="Digital Twin and Process Optimization">
                            <label for="sce-4"><div class="checker"></div>
                                Digitaler Zwilling und Prozessoptimierung
                            </label>
                        </li>
                    </ul>
                    <ul class="discuss-input radio-holder">
                        <p class="bold-text">Ich habe bereits einen konkreten Anwendungsfall den ich besprechen möchte *</p>
                        <li class="yes form-check">
                            <input class="form-check-input required" id="scf-1" type="radio" name="specificCase" value="ja"
                                   onclick="(() => {
                              document.getElementById('specific-cases-form').removeAttribute('hidden');
                              document.getElementById('specific-cases-form').setAttribute('required', true);
                            })()"
                            />
                            <label class="form-check-label" for="scf-1"><div class="checker"></div>ja</label>
                        </li>
                        <li class="form-check">
                            <input class="form-check-input required" id="scf-2" type="radio" name="specificCase" value="nein"
                                   onclick="(() => {
                              document.getElementById('specific-cases-form').setAttribute('hidden', true);
                              document.getElementById('specific-cases-form').removeAttribute('required');
                            })()"
                            />
                            <label class="form-check-label" for="scf-2"><div class="checker"></div>nein</label>
                        </li>
                    </ul>
                    <textarea id="specific-cases-form" class="form-control" rows="3" name="specificCases" placeholder="Bitte beschriben Sie Ihren Anwendungsfall" hidden></textarea>
                    <p class="text-under-radio-input">
                        Gerne informieren wir Sie über unser innovatives Lösungsportfolio und geben Ihnen Impulse für Ihre aktuellen Fragestellungen. Nutzen Sie die Chance zum Fachgespräch mit unseren Spezialisten und vereinbaren Sie einen Gesprächstermin.
                    </p>
                </div>
            </div>
            <div class="row input-forms" >
                <div class="col-md-12 form-holder">
                    <label for="name">Name *</label>
                    <input class="form-control" id="name" name="name" type="text" required placeholder="Ihr Name" value="" >
                </div>
                <div class="col-md-12 form-holder">
                    <label for="company">Unternehmen  *</label>
                    <input class="form-control" id="company" name="company" type="text" required placeholder="Ihr Unternehmen" value="" >
                </div>
                <div class="col-md-12 form-holder">
                    <label for="email">Email *</label>
                    <input class="form-control" id="email" name="email" type="email" required placeholder="Ihre Email Adresse" value="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                </div>
                <div class="col-md-12 form-holder">
                    <label for="job-title">Funktion</label>
                    <input class="form-control" id="job-title" name="jobTitle" type="text" placeholder="Funktion im Unternehmen" value="" >
                </div>
                <div class="col-md-12 form-holder">
                    <label for="phone">Telefon</label>
                    <input class="form-control" id="phone" name="phone" type="tel" placeholder="Ihre Telefon Nummer" value="">
                </div>
            </div>
            <div class="row check-input-forms">
                <div class="checkbox col-md-12">
                    <p class="bold-text">Ich möchte einen Termin auf der Logimat *</p>
                    <ul class="radio-holder">
                        <li class="form-check">
                            <input class="form-check-input required" id="app-1" type="radio" name="logimatAppointment" value="am Dienstag, 31. Mai 2022"/>
                            <label class="form-check-label" for="app-1"><div class="checker"></div>am Dienstag, 31. Mai 2022</label>
                        </li>
                        <li class="form-check">
                            <input class="form-check-input required" id="app-2" type="radio" name="logimatAppointment" value="am Mittwoch, 01. Juni 2022"/>
                            <label class="form-check-label" for="app-2"><div class="checker"></div>am Mittwoch, 01. Juni 2022</label>
                        </li>
                        <li class="form-check">
                            <input class="form-check-input required" id="app-3" type="radio" name="logimatAppointment" value="am Donnerstag, 02. Juni 2022"/>
                            <label class="form-check-label" for="app-3"><div class="checker"></div>am Donnerstag, 02. Juni 2022</label>
                        </li>
                    </ul>
                    <p class="bold-text">Zur folgenden Uhrzeit: (Sie können die Box auch für Kommentare / weitere Themen verwenden)</p>
                    <div class="form-holder">
                        <textarea id="comment-form" class="form-control" rows="3" name="remarks" placeholder="Uhrzeit / Weitere Themen"></textarea>
                    </div>
                    <div class="buttons-container">
                        <div class="d-flex">
                            <button id="submit-btn" type="submit" name="submit" class="btn-custom" >Abschicken</button>
                        </div>
                    </div>
                </div>
                <div class="inform col-md-12 mt-5">
                    <p>Wir freuen uns auf Ihren Besuch!</p>
                    <p>
                        Ihre Daten werden vertraulich behandelt, gemäß unserer Datenschutzrichtlinien.
                        <a class="bold-text o-text" href="./../../public/pdf/AGB_Pixel_Robotics_EN_01_2021.pdf">Rechtliche Hinweise</a>
                    </p>
                    <p>* Pflichtfelder</p>
                    <p>Nach der Anmeldung erhalten Sie umgehend eine schriftliche Bestätigung.</p>
                </div>
            </div>
        </form>
    </div>
</div>


