<div class="col-12">
    <div>
        <p>Treffen Sie unsere Experten in Stuttgart, um die neuesten Innovationen von Logivations kennenzulernen:</p>
        <p><b>W2MO: Digital Twin powered by Artificial Intelligence</b> Supply Chain, Produktion, Lager</p>
        <div>
            <div>Lassen Sie sich f&uuml;r innovative Projekte inspirieren und erfahren Sie, welche signifikanten Effizienzsteigerungen durch das integrierte L&ouml;sungsportfolio von Logivations m&ouml;glich sind:</div>
            <ul>
                <li>• Design und Optimierung logistischer Netzwerke</li>
                <li>• KI-gef&uuml;hrte autonome Transportroboter mit absoluter, dynamischer Navigation</li>
                <li>• KI-basierte Warenidentifikation direkt im Prozessablauf</li>
                <li>• Real Time Location System (RTLS) auf Basis k&uuml;nstlicher Intelligenz</li>
                <li>• Digital Twin, Logistikplanung und Prozessoptimierung</li>
                <li>• Computational Optimization - Innovative Algorithmen</li>
                <li>• 3D Beh&auml;lteroptimierung: Kartons, Paletten, Container, LKWs</li>
                <li>• Kapazit&auml;ts- und Personaleinsatzplanung</li>
            </ul>
        </div>
        <p>Wir freuen uns auf Ihren Besuch!</p>
    </div>
</div>
<div class="col-12">
    <div class="buttons-container">
        <div class="d-flex">
            <button id="signUpEventBtn" class="btn-custom" name="submit" type="submit"><a href="/registration">Sign up now</a></button>
        </div>
    </div>
</div>

