<div class="col-12" id="template">
    <div>
        <h5>Pixel Robotics takes part in digital networking days: <b>"AI, Computer Vision & Robotics - Megatrends Open up Opportunities for Innovative, Autonomous Robots"</b>.</h5>
        <p></p>
        <p><b>The digital networking days</b> are the digital series of events by "INDUSTRIAL Production", "KUNSTSTOFF MAGAZIN", "materialfluss", "LABO" and "Baugewerbe" on current topics and developments. From <b>6th to 7th December 2022</b> they will be dedicating themselves to the topic of <b>"Robotics"</b> with <b>practical lectures, best practice examples and workshops</b>.</p>
    </div>
    <div class="buttons-container">
        <div class="d-flex">
            <a href="https://events.weka-businessmedien.de/digital-networking-days-robotik/home/">
            <button id="submit-btn" type="button" class="btn-custom" >Further event details</button>
            </a>
        </div>
    </div>
</div>
