<div class="col-12" id="news-template">
    <h3>Press release</h3>
    <p>LogiMAT</p>
    <p class="bold-text">Pixel Robotics: Intelligent robots for pallet handling</p>
    <p><i>Pixel Robotics presents together with Logivations at the LogiMAT 2022</i></p>
    <p><span class="bold-text">Munich, 23.05.2022</span> – The forerunner of intelligent transporters in logistics - <a href="./" target="_blank" class="o-text">Pixel Robotics GmbH</a> - will be presenting its robots entirely controlled by artificial intelligence for the first time at the LogiMAT in Stuttgart (Hall 8, Booth F05) from May 31 to June 2, 2022 as a co-exhibitor of <a href="https://www.logivations.com/en" target="_blank" class="o-text">Logivations GmbH</a>.</p>
    <p>Pixel Robotics builds intelligent robots that are tailored for intralogistics and recognize their environment with the help of artificial intelligence. A Digital Twin of the workspace is created thanks to the unique AI perception infrastructure. Using this real-time twin, the robots from Pixel Robotics work together with their human colleagues - autonomously, safely, and with unmatched flexibility and adaptability.</p>
    <span style="text-decoration: underline">Automated pallet transport thanks to AI, Computer Vision, and Robotics</span>
    <p>Pixel Robotics combines AI, computer vision, and robotics to automate in house pallet transportation. The PIXEL PT robot, which was developed from scratch, works in tandem with human colleagues and dynamically adapts to existing processes in intralogistics.</p>
    <p>The robots have a modular and robust design, making them not only ideal for harsh logistics environments, but also very cost-effective. There is usually return on investment in less than 1.5 years.</p>
    <p>In intralogistics, pallets usually have to be picked up from specific lanes/areas and set down in the same areas. The autonomous robots from Pixel Robotics can navigate with such precision that they can pick up pallets anywhere in any position – even foiled pallets. AI vision detects the pallet’s orientation, which not only gives the robots the ability to pick up pallets in various orientations, but also gives them the ability to put down pallets in the correct orientation, just as a forklift driver would.</p>
    <span style="text-decoration: underline">Digital Twin provides holistic view and traffic jam avoidance</span>
    <p>With the help of the digital twin, the robots have a holistic view of what is happening in their environment. Obstacles or traffic jams can thus be recognized before the robot has approached the obstacle. This unique feature enables the robots to bypass traffic jams and prevent bottlenecks. The digital twin also enables the holistic management of the forklift and robot fleet.</p>
    <span style="text-decoration: underline">At the fair booth: See the autonomous mobile robot PIXEL PT live</span>
    <p>Pixel Robotics invites trade fair visitors to experience at booth F05 in hall 8 how the present and future can be mastered with robots controlled by artificial intelligence. The experts from Pixel Robotics present application examples, discuss application scenarios for your company with you, and work with you to determine the economic benefit with our online payback calculator.</p>
    <p><i>(Please request a file copy or link when publishing)</i></p>
    <p class="bold-text">Image material:</p>
    <div class="row">
        <div class="col-sm-6 col-12 mb-3">
            <img src="./images/newsAndEvents/logimat_pr.jpg" alt="AI navigated autonomous pallet transport robot">
        </div>
    </div>
    <p>Image: <span class="bold-text">AI navigated autonomous pallet transport robot</span></p>
    <p class="bold-text">About Pixel Robotics:</p>
    <p>Pixel Robotics GmbH builds intelligent, perception-controlled robots tailored for logistics. With its unique AI vision, a digital twin of the operating area is created. Using this real-time twin, Pixel Robotics’ robots work together with their human colleagues - autonomously, safely, and with an unmatched level of flexibility.</p>
    <p>Pixel Robotics is headquartered in Munich. <a href="./" target="_blank" class="o-text">pixel-robotics.eu</a></p>
    <p class="bold-text">Press contact and image material:</p>
    <p>Pixel Robotics GmbH<br>
        Herr Valentin Plapp<br>
        Riesstraße 18<br>
        80992 Munich, Germany<br>
        Tel. <a href="tel:+498920008518" class="o-text">+49 89 20008518</a><br>
        Email: <a href="mailto:office@pixel-robotics.eu" class="o-text">office@pixel-robotics.eu</a><br>
        Internet: <a href="./" class="o-text" target="_blank">www.pixel-robotics.eu</a>
    </p>
    <small class="d-flex justify-content-center"><i class="text-center">Intelligent robots for pallet handling: Pixel Robotics presents together with Logivations at the LogiMAT 2022</i></small>
</div>
