<div class="col-12" id="template">
    <div>
        <h5>LogiMAT 2022</h5>
        <p>Meet our experts in Stuttgart to see the latest innovations of Logivations:</p>
        <h6><span class="bold-text">Vision-based Robotics</span></h6>
        <p>Get an inspiration for innovative projects and learn how significant increases in efficiency can be achieved with the innovative technologies of Pixel Robotics.</p>
    </div>
</div>
<div class="col-md-12 col-12">
    <div id="registration" class="registration-form custom-form">
        <form method="post" id="subscribe-form">
            <div class="row check-input-forms">
                <div class="checkbox col-md-12">
                    <p class="bold-text mt-3 mb-3">Topics of interest: *</p>
                    <ul class="checkbox-holder">
                        <li class="form-check">
                            <input class="required" id="sce-1" type="checkbox" name="topicsOfInterest" value="AI-based Navigation & Autonomous Mobile Robots – meet our PIXEL PT">
                            <label for="sce-1"><div class="checker"></div>
                                AI-based Navigation & Autonomous Mobile Robots – meet our PIXEL PT
                            </label>
                        </li>
                        <li class="form-check">
                            <input class="required" id="sce-2" type="checkbox" name="topicsOfInterest" value="AI-based Object Identification directly integrated into the process flow">
                            <label for="sce-2"><div class="checker"></div>
                                AI-based Object Identification directly integrated into the process flow
                            </label>
                        </li>
                        <li class="form-check">
                            <input class="required" id="sce-3" type="checkbox" name="topicsOfInterest" value="Real Time Location System (RTLS) based on Artificial Intelligence">
                            <label for="sce-3"><div class="checker"></div>
                                Real Time Location System (RTLS) based on Artificial Intelligence
                            </label>
                        </li>
                        <li class="form-check">
                            <input class="required" id="sce-4" type="checkbox" name="topicsOfInterest" value="Digital Twin and Process Optimization">
                            <label for="sce-4"><div class="checker"></div>
                                Digital Twin and Process Optimization
                            </label>
                        </li>
                    </ul>
                    <ul class="discuss-input radio-holder">
                        <p class="bold-text">I already have a specific use case that I would like to discuss *</p>
                        <li class="yes form-check">
                            <input class="form-check-input required" id="scf-1" type="radio" name="specificCase" value="Yes"
                                   onclick="(() => {
                              document.getElementById('specific-cases-form').removeAttribute('hidden');
                              document.getElementById('specific-cases-form').setAttribute('required', true);
                            })()"
                            />
                            <label class="form-check-label" for="scf-1"><div class="checker"></div>Yes</label>
                        </li>
                        <li class="form-check">
                            <input class="form-check-input required" id="scf-2" type="radio" name="specificCase" value="No"
                                   onclick="(() => {
                              document.getElementById('specific-cases-form').setAttribute('hidden', true);
                              document.getElementById('specific-cases-form').removeAttribute('required');
                            })()"
                            />
                            <label class="form-check-label" for="scf-2"><div class="checker"></div>No</label>
                        </li>
                    </ul>
                    <textarea id="specific-cases-form" class="form-control" rows="3" name="specificCases" placeholder="Please describe your use case" hidden></textarea>
                    <p class="text-under-radio-input">
                        We will gladly inform you about our innovative solution portfolio and discuss how we can
                        support your current logistics tasks. Feel free to contact our experts for a discussion
                        and set up a date.
                    </p>
                </div>
            </div>
        <div class="row input-forms" >
            <div class="col-md-12 form-holder">
                <label for="name">Name *</label>
                <input class="form-control" id="name" name="name" type="text" required placeholder="Your Name" value="" >
            </div>
            <div class="col-md-12 form-holder">
                <label for="email">Email *</label>
                <input class="form-control" id="email" name="email" type="email" required placeholder="Your Email Address" value="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            </div>
            <div class="col-md-12 form-holder">
                <label for="company">Company *</label>
                <input class="form-control" id="company" name="company" type="text" required placeholder="Your Company" value="" >
            </div>
            <div class="col-md-12 form-holder">
                <label for="job-title">Job Title</label>
                <input class="form-control" id="job-title" name="jobTitle" type="text" placeholder="Your Job Title" value="" >
            </div>
            <div class="col-md-12 form-holder">
                <label for="phone">Phone</label>
                <input class="form-control" id="phone" name="phone" type="tel" placeholder="Your Phone Number" value="">
            </div>
        </div>
        <div class="row check-input-forms">
            <div class="checkbox col-md-12">
                <p class="bold-text">I want an appointment at the Logimat *</p>
                <ul class="radio-holder">
                    <li class="form-check">
                        <input class="form-check-input required" id="app-1" type="radio" name="logimatAppointment" value="on Tuesday, 31 May 2022"/>
                        <label class="form-check-label" for="app-1"><div class="checker"></div>on Tuesday, 31 May 2022</label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input required" id="app-2" type="radio" name="logimatAppointment" value="on Wednesday, 1 June 2022"/>
                        <label class="form-check-label" for="app-2"><div class="checker"></div>on Wednesday, 1 June 2022</label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input required" id="app-3" type="radio" name="logimatAppointment" value="on Thursday, 2 June 2022"/>
                        <label class="form-check-label" for="app-3"><div class="checker"></div>on Thursday, 2 June 2022</label>
                    </li>
                </ul>
                <p class="bold-text">At the following time: (You can also use this box for comments / further topics)</p>
                <div class="form-holder">
                    <textarea id="comment-form" class="form-control" rows="3" name="remarks" placeholder="Appointment Time / Further Topics"></textarea>
                </div>
                <div class="buttons-container">
                    <div class="d-flex">
                        <button id="submit-btn" type="submit" name="submit" class="btn-custom" >Sign up</button>
                    </div>
                </div>
            </div>
            <div class="inform col-md-12 mt-5">
                <p>We are looking forward to your visit!</p>
                <p>
                    Your data will be handled confidentially in accordance with our privacy guidelines.
                    <a class="bold-text o-text" href="./../../public/pdf/AGB_Pixel_Robotics_EN_01_2021.pdf">Privacy policy</a>
                </p>
                <p>* Mandatory fields</p>
                <p>After sign up, you will immediately receive a written confirmation.</p>
            </div>
        </div>
        </form>
    </div>
</div>


