<div class="col-12">
    <div>
        <h5>LogiMAT 2022</h5>
        <p>Meet our experts in Stuttgart to see the latest innovations of Logivations:</p>
        <p><span class="bold-text">W2MO: Digital Twin powered by Artificial Intelligence</span></p>
        <p>Supply Chain, Production, Warehouse</p>
        <p>Get an inspiration for innovative projects and learn how significant increases in efficiency can be achieved with the integrated solution portfolio of Logivations:</p>
        <div>
            <ul class="ul-list">
                <li>Supply Chain Design & Optimization</li>
                <li>AI-guided AGV with fully integrated, optimized navigation</li>
                <li>AI-based Object Identification directly integrated into the process flow</li>
                <li>Real Time Location System (RTLS) based on Artificial Intelligence</li>
                <li>Digital Twin, Logistics Planning and Process Optimization</li>
                <li>Computational Optimization: Innovative Algorithms</li>
                <li>3D Case Pack Optimization: cartons, pallets, containers, trucks</li>
                <li>Capacity and Workforce Planning</li>
            </ul>
        </div>
    </div>
</div>
<div class="col-md-12 col-12">
    <div id="registration" class="registration-form custom-form">
        <div class="row input-forms" method="POST">
            <div class="col-md-12 form-holder">
                <label for="name">Name *</label>
                <input class="form-control" id="name" name="name" type="text" required placeholder="Your Name" value="" >
            </div>
            <div class="col-md-12 form-holder">
                <label for="email">Email *</label>
                <input class="form-control" id="email" name="email" type="email" required placeholder="Your Email Address" value="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            </div>
            <div class="col-md-12 form-holder">
                <label for="company">Company *</label>
                <input class="form-control" id="company" name="company" type="text" placeholder="Your Company" value="" >
            </div>
            <div class="col-md-12 form-holder">
                <label for="job-title">Job Title</label>
                <input class="form-control" id="job-title" name="job-title" type="text" placeholder="Your Job Title" value="" >
            </div>
            <div class="col-md-12 form-holder">
                <label for="phone">Phone</label>
                <input class="form-control" id="phone" name="phone" type="tel" placeholder="Your Phone Number" value="">
            </div>
        </div>
        <div class="row check-input-forms">
            <div class="checkbox col-md-12">
                <h5 class="mt-3 mb-3">Topics of interest:</h5>
                <ul class="checkbox-holder">
                    <li class="form-check">
                        <input class="" id="sce" type="checkbox" name="type[]" value="">
                        <label for="sce"><div class="checker"></div>
                            <span class="bold-text">Supply Chain Engineering and Supply Network Planning</span>: Holistic planning and optimization of your Supply Chain
                        </label>
                    </li>
                </ul>
                <p class="bold-text">Modern optimization algorithms for operational IT systems:</p>
                <ul class="checkbox-holder">
                    <li class="form-check">
                        <input id="moa-1" type="checkbox" name="type[]" value="">
                        <label for="moa-1"><div class="checker"></div>Advanced Slotting</label>
                    </li>
                    <li class="form-check">
                        <input id="moa-2" type="checkbox" name="type[]" value="">
                        <label for="moa-2"><div class="checker"></div>Optimized tour building</label>
                    </li>
                    <li class="form-check">
                        <input id="moa-3" type="checkbox" name="type[]" value="">
                        <label for="moa-3"><div class="checker"></div>Capacity and workforce planning</label>
                    </li>
                    <li class="form-check">
                        <input id="moa-4" type="checkbox" name="type[]" value="">
                        <label for="moa-4"><div class="checker"></div>3D cubing (case pack)</label>
                    </li>
                </ul>
                <p class="bold-text">Digital twin, logistics planning and process optimization:</p>
                <ul class="checkbox-holder">
                    <li class="form-check">
                        <input id="dt-1" type="checkbox" name="type[]" value="">
                        <label for="dt-1"><div class="checker"></div>Digital Twin for planning new facilities and simulation of layout and process changes</label>
                    </li>
                    <li class="form-check">
                        <input id="dt-2" type="checkbox" name="type[]" value="">
                        <label for="dt-2"><div class="checker"></div>Digital Twin for optimization of running operations</label>
                    </li>
                </ul>
                <p class="bold-text">Scanner-free logistics based on Artificial Intelligence (AI):</p>
                <ul class="checkbox-holder">
                    <li class="form-check">
                        <input id="ai-1" type="checkbox" name="type[]" value="">
                        <label for="ai-1"><div class="checker"></div>Measure and count products, find barcodes and QR-codes and read them, locate and read text – no manual scanning needed</label>
                    </li>
                    <li class="form-check">
                        <input id="ai-2" type="checkbox" name="type[]" value="">
                        <label for="ai-2"><div class="checker"></div>Management, optimization and control of the packing process</label>
                    </li>
                    <li class="form-check">
                        <input id="ai-3" type="checkbox" name="type[]" value="">
                        <label for="ai-3"><div class="checker"></div>Master data acquisition using AI</label>
                    </li>
                </ul>
                <p class="bold-text">W2MO RTL&RS (Real Time Location & Recognition System):</p>
                <ul class="checkbox-holder">
                    <li class="form-check">
                        <input id="rtl-rs-1" type="checkbox" name="type[]" value="">
                        <label for="rtl-rs-1"><div class="checker"></div>Tracking for all types of movements in a warehouse (goods, forklifts, people, ...)</label>
                    </li>
                    <li class="form-check">
                        <input id="rtl-rs-2" type="checkbox" name="type[]" value="">
                        <label for="rtl-rs-2"><div class="checker"></div>Automatic Booking into WMS</label>
                    </li>
                    <li class="form-check">
                        <input id="rtl-rs-3" type="checkbox" name="type[]" value="">
                        <label for="rtl-rs-3"><div class="checker"></div>
                            <span class="bold-text">Intelligent fleet management of the forklift and AGV fleet</span>
                        </label>
                    </li>
                    <li class="form-check">
                        <input id="rtl-rs-4" type="checkbox" name="type[]" value="">
                        <label for="rtl-rs-4"><div class="checker"></div>
                            <span class="bold-text">Autonomous floor-to-floor transport robot </span>
                            developed and manufactured by Pixel Robotics
                        </label>
                    </li>
                </ul>
                <ul class="discuss-input radio-holder">
                    <p class="bold-text">I already have a specific use case that I would like to discuss *</p>
                    <li class="yes form-check">
                        <input class="form-check-input" id="scf-1" type="radio" name="specific-case"/>
                        <label class="form-check-label" for="scf-1"><div class="checker"></div>Yes</label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input" id="scf-2" type="radio" name="specific-case"/>
                        <label class="form-check-label" for="scf-2"><div class="checker"></div>No</label>
                    </li>
                </ul>
                <textarea id="specific-cases-form" class="form-control" rows="3" name="specificCases" placeholder="Please describe your use case" hidden></textarea>
                <p class="text-under-radio-input">
                    We will gladly inform you about our innovative solution portfolio and discuss how we can
                    support your current logistics tasks. Feel free to contact our experts for a discussion
                    and set up a date.
                </p>
                <p class="bold-text">I want an appointment at the Logimat *</p>
                <ul class="radio-holder">
                    <li class="form-check">
                        <input class="form-check-input" id="app-1" type="radio" name="type2[]" value=""/>
                        <label class="form-check-label" for="app-1"><div class="checker"></div>on Tuesday, 31 May 2022</label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input" id="app-2" type="radio" name="type2[]" value=""/>
                        <label class="form-check-label" for="app-2"><div class="checker"></div>on Wednesday, 1 June 2022</label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input" id="app-3" type="radio" name="type2[]" value=""/>
                        <label class="form-check-label" for="app-3"><div class="checker"></div>on Thursday, 2 June 2022</label>
                    </li>
                </ul>
                <p class="bold-text">At the following time: (You can also use this box for comments / further topics)</p>
                <div class="form-holder">
                    <textarea id="comment-form" class="form-control" rows="3" name="remarks" placeholder="Appointment Time / Further Topics"></textarea>
                </div>
                <div class="buttons-container">
                    <div class="d-flex">
                        <button id="submit-btn" type="button" name="submit" class="btn-custom">Sign up</button>
                    </div>
                </div>
            </div>
            <div class="inform col-md-12 mt-5">
                <p>We are looking forward to your visit!</p>
                <p>
                    Your data will be handled confidentially in accordance with our privacy guidelines.
                    <a class="bold-text o-text" href="./../../public/pdf/AGB_Pixel_Robotics_EN_01_2021.pdf">Privacy policy</a>
                </p>
                <p>* Mandatory fields</p>
                <p>After sign up, you will immediately receive a written confirmation.</p>
            </div>
        </div>
    </div>
</div>

