<div class="col-12">
    <div>
        <p>Meet our experts in Stuttgart to see the latest innovations of Logivations:</p>
        <p><b>W2MO: Digital Twin powered by Artificial Intelligence</b> Supply Chain, Production, Warehouse</p>
        <div>
            <div>Get an inspiration for innovative projects and learn how significant increases in efficiency can be achieved with the integrated solution portfolio of Logivations:</div>
            <ul>
                <li>• Supply Chain Design & Optimization</li>
                <li>• AI-guided AGV with fully integrated, optimized navigation</li>
                <li>• AI-based Object Identification directly integrated into the process flow</li>
                <li>• Real Time Location System (RTLS) based on Artificial Intelligence</li>
                <li>• Digital Twin, Logistics Planning and Process Optimization</li>
                <li>• Computational Optimization: Innovative Algorithms</li>
                <li>• 3D Case Pack Optimization: cartons, pallets, containers, trucks</li>
                <li>• Capacity and Workforce Planning</li>
            </ul>
        </div>
        <p><b>We are looking forward to see you soon!</b></p>
    </div>
</div>
<div class="col-12">
    <div class="buttons-container">
        <div class="d-flex">
            <button id="signUpEventBtn" class="btn-custom" name="submit" type="submit"><a href="/registration">Go to form</a></button>
        </div>
    </div>
</div>
