<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Help women, children and elderly people from Ukraine</title>
    <link type="image/x-icon" rel="shortcut icon" href="/images/favicon.ico">
    <link type="image/png" sizes="16x16" rel="icon" href="/images/favicon-16x16.png">
    <link type="image/png" sizes="32x32" rel="icon" href="/images/favicon-32x32.png">
    <link type="image/png" sizes="192x192" rel="icon" href="/images/android-chrome-192x192.png">
    <link type="image/png" sizes="512x512" rel="icon" href="/images/android-chrome-512x512.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Days+One&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet/less" type="text/css" href="css/refugees-styles.less" />
</head>
<body id="shelterinlviv">
<section class="">
    <div class="shelterinlviv-home container-xxl container-md">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-12 offset-0">
                <div class="main-screen">
                    <div class="row top-links">
                        <div class="text-right">
                            <%- include('../includes/languages-picker'); -%>
                        </div>
                        <div class="col d-flex flex-column" style="padding-bottom: 30px;">
                            <a href="shelter-in-lviv" class="mb-1 d-flex align-items-start" target="_blank"><img src="images/link-blue.svg" alt="link" style="width: 24px;margin-right: 5px"> Посилання на притулок у Львові</a>
                        </div>
                        <div class="col d-flex flex-column" style="padding-bottom: 30px;text-align: right;">
                            <a href="mailto:help.ua.families@gmail.com" class="mb-1">help.ua.families@gmail.com</a>
                            <a href="tel:08921909750">089 2190 975 0</a>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-10 mb-3">
                            <h1>Help women, children and elderly people from Ukraine</h1>
                        </div>
                        <div class="col-md-2 text-center mb-3">
                            <img src="images/Flag_of_Ukraine.png" alt="Ukraine" style="max-width: 240px">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10 offset-md-1 col-12 offset-0">
                <div>
                    <p>The companies <a href="https://www.logivations.com/" target="_blank">"Logivations"</a> and <a href="https://www.pixel-robotics.eu/" target="_blank">"Pixel Robotics"</a> cooperate with the Lviv Association for Artificial Intelligence and Robotics — a non-profit organization in Lviv, in western Ukraine. This organization was founded by Ukrainian IT professionals to promote the development of artificial intelligence and robotics. Because of the war, we are now trying to help as many people as possible.</p>
                    <p>The club has adapted its office and now is helping refugees on their way out of Ukraine.</p>
                </div>
            </div>
            <div class="col-md-10 offset-md-1 col-12 offset-0 mt-3 mb-4">
                <div class="row">
                    <div class="col">
                        <img src="images/lviv-building.png" alt="Shelter in Lviv" class="img-responsive img-01">
                    </div>
                    <div class="col">
                        <img src="images/img-02.png" alt="Shelter in Lviv" class="img-responsive img-01">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1 col-12 offset-0">
                <div>
                    <p>The house serves as a stopover, it has restrooms, showers, kitchen and sleeping places. Refugees are cared for by volunteers there. Numerous escapees come from Kyiv, eastern or southern Ukraine. Since Lviv is located in the west of Ukraine, many of them were already on the road for days and had to stay outdoors or at train stations overnight.</p>
                    <p>Due to a huge wave of refugees and limited accommodation capacities, we are also looking for shelters in Germany/Bavaria, where these refugees can be relocated.</p>
                    <p>The members of the club in Lviv and our colleagues in Germany organize the journey from Lviv to Germany/Bavaria by bus and train. Language support German/English - Ukrainian is possible at any time - German/Ukrainian speaking colleagues are also available in Munich/Bavaria.</p>
                    <p>The war refugees are only women, children or elderly people, as all men aged 18 to 60 fight against the invaders.</p>
                    <p style="border-left: 2px solid;padding-left: 15px;">Under this link you will find short profiles of war refugees who want to start the journey from Lviv in western Ukraine to Munich/Bavaria and for whom we are currently still looking for accommodation:
                        <br>
                        <a href="https://drive.google.com/drive/folders/1FC7G-Hurwn-GuF7kQFejvUEcSRXE2szS" target="_blank">Profiles of war refugees</a></p>
                    <p style="font-weight: 600">If you can offer shelter for one of these people - please contact us. We would be very grateful!</p>
                    <p>As the house also has a good Internet connection, we can also establish a contact between the war refugees and potential hosts in advance, so that you can get to know the people who you will be hosting.</p>
                </div>
            </div>

            <div class="col-md-10 offset-md-1 col-12 offset-0">
                <div class="contact-info">
                    <h3>Can you offer a shelter? Then please contact us directly by phone or email:</h3>
                    <ul>
                        <li><a href="mailto:help.ua.families@gmail.com">help.ua.families@gmail.com</a></li>
                        <li>
                            <a href="tel:08921909750">089 2190 975 0</a><br>
                            <p style="font-size: 0.6em;">(Central Logivations, where the offers are collected)</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-10 offset-md-1 col-12 offset-0">
                <div>
                    <p>You can also tell your friends and acquaintances about our page and share this link with them:</p>
                    <a class="" style="font-size: 1.2em" href="https://pixel-robotics.eu/help-ukraine/refugees" target="_blank">https://pixel-robotics.eu/help-ukraine/refugees</a><br><br>
                    <p class="greeting">Thank you for your support in this humanitarian disaster!</p>
                </div>
            </div>

            <div class="col-md-10 offset-md-1 col-12 offset-0">
                <div class="add-info">
                    <p>The association also relies on donations to provide refugees with transport to the border (Ukraine refugees travel free of charge in the EU) and help Ukrainian families.</p>
                    <p style="font-weight: 600">Please transfer a donation with transferwise (<a href="https://wise.com/" target="_blank">wise.com</a>) in Euro directly to</p>
                </div>
            </div>

            <div class="col-md-10 offset-md-1 col-12 offset-0">
                <p class=""><i>Please enter the recipient details exactly as indicated below!</i></p>
                <div class="account-info">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td style="width: 40%">
                                <p>Recipient:</p>
                            </td>
                            <td style="width: 60%">
                                <p>Lviv AI and Robotics</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 40%">
                                <p>Beneficiary's bank:</p>
                            </td>
                            <td style="width: 60%">
                                <p>PJSC "KredoBank"</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 40%">
                                <p>BIC/SWIFT:</p>
                            </td>
                            <td style="width: 60%">
                                <p>WUCBUA2X</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 40%">
                                <p>IBAN:</p>
                            </td>
                            <td style="width: 60%">
                                <p style="word-break: break-all;">UA963253650000000260040035085</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <p>In general, the IBAN is sufficient and SWIFT is not required.</p>
                </div>
            </div>

            <div class="col-md-10 offset-md-1 col-12 offset-0">
                <div class="add-info">
                    <p>Under this link you will find the certificate of the Ukrainian tax authorities for the classification as a non-profit organization.</p>
                    <p><a href="Excerpt-from-the-registry-of-non-profit-organizations.pdf" target="_blank">Excerpt-from-the-registry-of-non-profit-organizations.pdf</a></p>
                </div>
            </div>

            <div class="col-md-10 offset-md-1 col-12 offset-0">
                <div>
                    <p>We are happy to issue a receipt for your donation. To do this, please write to <a href="mailto:help.ua.families@gmail.com">help.ua.families@gmail.com</a></p>
                </div>
            </div>

            <div class="col-md-10 offset-md-1 col-12 offset-0">
                <div>
                    <p>Please clarify the tax recognition directly with your tax office. Donations are used exclusively to help and accommodate war refugees.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/4.1.2/less.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="../js/languages.picker.js" type="text/javascript"></script>

</body>
</html>
