<h3>Dear <%= locals.name %></h3>
<p>Thank you for your interest in "Pixel Robotics".</p>
<p>We will check your message and get back to you as soon as possible.</p>
<p>Have a great day!</p>
<p>Pixel Robotics Team</p>
