<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <%- include('../includes/metadata'); -%>
    <link rel="stylesheet/less" type="text/css" href="css/contacts.less" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
<%- include('../includes/header.ejs', {hideHomeLink: false, activeTab: 'contact', lang: 'DE_de'}); -%>
<section id="contacts-section">
    <div class="container-xxl container-md">
        <div class="row">
            <div class="col title-section">
                <h2>Kontaktieren Sie uns</h2>
                <div class="page-sub-title">Ben&ouml;tigen Sie weitere Details? Schicken Sie uns eine Nachricht!</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-12">
                <h3>Mit wem m&ouml;chten Sie sprechen?</h3>
                <form id="contact" class="custom-form" name="form" action="" method="post">
                    <div class="row">
                        <div class="col">
                            <div class="row radio-holder">
                                <div class="col-md-6 col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="iWantToTalkWith" value="Vertriebsmitarbeiter" id="sales-representative" checked>
                                        <label class="form-check-label" for="sales-representative">
                                            <div class="checker"></div>
                                            Vertriebsmitarbeiter
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="iWantToTalkWith" value="Technischer Experte" id="technical-expert">
                                        <label class="form-check-label" for="technical-expert">
                                            <div class="checker"></div>
                                            Technischer Experte
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-holder">
                            <label class="">Name</label>
                            <input class="form-control" name="name" placeholder="" value="" id="name"/>
                        </div>
                        <div class="col-md-6 form-holder">
                            <label class="">Email</label>
                            <input class="form-control" id="email" name="email" type="email" placeholder="" value="">
                        </div>
                        <div class="col-12 form-holder">
                            <label class="">Wie k&ouml;nnen wir Ihnen helfen?</label>
                            <textarea class="form-control" id="message" name="message" placeholder="" value=""></textarea>
                        </div>
                        <div class="col">
                            <div class="row d-flex flex-row-reverse">
                                <div class="col-md-6 col-12 form-holder">
                                    <div
                                            id="captcha"
                                            class="g-recaptcha"
                                            data-callback="recaptchaCallback"
                                            data-sitekey="6LecswMeAAAAAG41wFbWtOgh5OQxCFplOfbpBnUH"
                                            data-theme="white"
                                            data-tabindex="2"
                                    ></div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="d-flex">
                                        <button id="submit" class="btn-custom" name="submit" type="submit">Nachricht senden</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4 offset-md-1 col-12">
                <div class="contact-info">
                    <div class="contact-info-center">
                        <div class="row">
                            <div class="col d-flex flex-column mb-3">
                                <span>Email:</span>
                                <a href="mailto:info@pixel-robotics.eu" class="o-text">info@pixel-robotics.eu</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex flex-column mb-3">
                                <span>Telefon:</span>
                                <a href="tel:+49 89 20 00 85 18" class="o-text">+49 89 20 00 85 18</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span>Pixel Robotics GmbH</span>
                                <p>Riesstrasse 18<br>80992 M&uuml;nchen, Deutschland</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="contactModal" class="modal " tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6>DANKE!</h6>
                <button type="button" class="btn-close" id="modal-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Wir haben Ihre Nachricht erhalten</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="modal-btn-ok" class="btn-custom" data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<%- include('../includes/de.footer.ejs'); -%>
<%- include('../includes/default-scripts'); -%>

<script src="js/contactForm.js"></script>
</body>
</html>
<script>
    document.getElementById('modal-btn-close').addEventListener('click', () => {
        $('#contactModal').hide();
    })
    document.getElementById('modal-btn-ok').addEventListener('click', () => {
        $('#contactModal').hide();
    })
</script>
