<!DOCTYPE html >
<html lang="de" xmlns="http://www.w3.org/1999/html">
<head>
    <%- include('../includes/metadata'); -%>
    <link rel="stylesheet/less" type="text/css" href="css/registration.less" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
<section id="registration">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-lg-6 offset-lg-3 col-md-12">
                <div class="row element-with-photo">
                    <div class="elem col-xs-12 col-md-4 col-md-offset-2">
                        <a href="/">
                            <img src="https://www.logivations.com/img_general/Logi-logo-color-1000.png" alt="PixelRobotics">
                        </a>
                    </div>
                    <div class="elem col-xs-12 col-md-4 elem">
                        <a href="/">
                            <img src="https://www.logivations.com/img_general/mailing/logimat2022/logimat-2022.jpg" alt="PixelRobotics">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="appointment">
            <h1 class="text-uppercase text-center h1">ANMELDEFORMULAR F&Uuml;R EINEN TERMIN AUF DER LOGIMAT 2022</h1>
            <h2 class="text-center h2">
                vom 31. Mai bis 02. Juni 2022 | 9-17 Uhr |
                <br>
                Halle 8, Stand F05
                <br>
                Messe Stuttgart
            </h2>
        </div>
        <div id="aif" class="all-input-forms" method="POST">
            <div class="input-forms">
                <div class="col-md-6 form-holder">
                    <label for="name">Name *</label>
                    <input class="form-control" id="name" name="name" type="text" required placeholder="Ihr Name" value="" >
                </div>
                <div class="col-md-6 form-holder">
                    <label for="company">Unternehmen *</label>
                    <input class="form-control" id="company" name="company" type="text" placeholder="Ihr Unternehmen" value="" >
                </div>
                <div class="col-md-6 form-holder">
                    <label for="job-title">Funktion</label>
                    <input class="form-control" id="job-title" name="job-title" type="text" placeholder="Funktion im Unternehmen" value="" >
                </div>
                <div class="col-md-6 form-holder">
                    <label for="email">Email *</label>
                    <input class="form-control" id="email" name="email" type="email" required placeholder="Ihre Email Adresse" value="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                </div>
                <div class="col-md-6 form-holder">
                    <label for="phone">Telefon</label>
                    <input class="form-control" id="phone" name="phone" type="tel" placeholder="Ihre Telefon Nummer" value="">
                </div>
            </div>
            <div class="row check-input-forms">
                <div class="checkbox col-md-6">
                    <h2 class="text-uppercase h2-text">INTERESSEN / THEMEN:</h2>
                    <ul class="no-padding">
                        <li>
                            <input id="sce" type="checkbox" name="type[]" value="">
                            <label for="sce">
                                <b>Supply Chain Engineering und Supply Network Planning:</b>
                                Ganzheitliche Planung und Optimierung Ihrer Supply Chain
                            </label>
                        </li>
                    </ul>
                    <p><b>Moderne Optimierungs-Algorithmen f&uuml;r operative IT-Systeme:</b></p>
                    <ul>
                        <li>
                            <input id="moa-1" type="checkbox" name="type[]" value="">
                            <label for="moa-1">Advanced Slotting</label>
                        </li>
                        <li>
                            <input id="moa-2" type="checkbox" name="type[]" value="">
                            <label for="moa-2">optimierte Rundgangsbildung</label>
                        </li>
                        <li>
                            <input id="moa-3" type="checkbox" name="type[]" value="">
                            <label for="moa-3">Kapazit&auml;ts- und Personaleinsatzplanung</label>
                        </li>
                        <li>
                            <input id="moa-4" type="checkbox" name="type[]" value="">
                            <label for="moa-4">Karton(portfolio-)optimierung, Packanweisung</label>
                        </li>
                    </ul>
                    <p><b>Digitaler Zwilling, Logistikplanung und Prozessoptimierung:</b></p>
                    <ul>
                        <li>
                            <input id="dt-1" type="checkbox" name="type[]" value="">
                            <label for="dt-1">Digitaler Zwilling f&uuml;r Lagerneuplanungen und Simulation von Layout- und Prozess&auml;nderungen</label>
                        </li>
                        <li>
                            <input id="dt-2" type="checkbox" name="type[]" value="">
                            <label for="dt-2">Digitaler Zwilling zur Optimierung bestehender Abwicklungens</label>
                        </li>
                    </ul>
                    <p><b>Scannerfreie Logistik auf Basis von K&uuml;nstlicher Intelligenz (KI):</b></p>
                    <ul>
                        <li>
                            <input id="ai-1" type="checkbox" name="type[]" value="">
                            <label for="ai-1">Produkte messen und z&auml;hlen, Barcodes und QR-Codes finden und dekodieren, Text lokalisieren und lesen - kein manuelles Scannen erforderlich</label>
                        </li>
                        <li>
                            <input id="ai-2" type="checkbox" name="type[]" value="">
                            <label for="ai-2">Steuerung, Optimierung und Kontrolle des Packvorgangs</label>
                        </li>
                        <li>
                            <input id="ai-3" type="checkbox" name="type[]" value="">
                            <label for="ai-3">Stammdatenerfassung mittels KI</label>
                        </li>
                    </ul>
                    <p><b>W2MO RTL&RS (Real Time Location & Recognition System):</b></p>
                    <ul>
                        <li>
                            <input id="rtl-rs-1" type="checkbox" name="type[]" value="">
                            <label for="rtl-rs-1">Tracking aller Bewegungen im Lager (Waren, Gabelstapler, Personen, …)</label>
                        </li>
                        <li>
                            <input id="rtl-rs-2" type="checkbox" name="type[]" value="">
                            <label for="rtl-rs-2">Automatische Verbuchung im Lagerverwaltungssystem</label>
                        </li>
                        <li>
                            <input id="rtl-rs-3" type="checkbox" name="type[]" value="">
                            <label for="rtl-rs-3">
                                <b>Intelligentes Flottenmanagement der Stapler- und AGV-Flotte</b>
                            </label>
                        </li>
                        <li>
                            <input id="rtl-rs-4" type="checkbox" name="type[]" value="">
                            <label for="rtl-rs-4">
                                <b>Autonomer Boden-zu-Boden-Transportroboter </b>
                                , entwickelt und hergestellt von Pixel Robotics
                            </label>
                        </li>
                    </ul>
                    <p><b>Ich habe bereits einen konkreten Anwendungsfall den ich besprechen m&ouml;chte *</b></p>
                    <ul class="discuss-input">
                        <li class="yes">
                            <input id="scf-1" type="radio" name="specific-case" value=""/>
                            <label for="scf-1">ja</label>
                        </li>
                        <li>
                            <input id="scf-2" type="radio" name="specific-case" value=""/>
                            <label for="scf-2">nein</label>
                        </li>
                    </ul>
                    <textarea id="specific-cases-form" class="form-control" rows="3" name="specificCases" placeholder="Please describe your use case" hidden></textarea>
                    <p class="text-under-radio-input">
                        Gerne informieren wir Sie &uuml;ber unser innovatives L&ouml;sungsportfolio und geben Ihnen Impulse f&uuml;r
                        Ihre aktuellen Fragestellungen. Nutzen Sie die Chance zum Fachgespr&auml;ch mit unseren Spezialisten und
                        vereinbaren Sie einen Gespr&auml;chstermin.
                    </p>
                    <h3>Ich m&ouml;chte einen Termin auf der Logimat *</h3>
                    <ul>
                        <li>
                            <input id="app-1" type="radio" name="type[]" value=""/>
                            <label for="app-1">am Dienstag, 31. Mai 2022</label>
                        </li>
                        <li>
                            <input id="app-2" type="radio" name="type[]" value=""/>
                            <label for="app-2">am Mittwoch, 01. Juni 2022</label>
                        </li>
                        <li>
                            <input id="app-3" type="radio" name="type[]" value=""/>
                            <label for="app-3">am Donnerstag, 02. Juni 2022</label>
                        </li>
                    </ul>
                    <br>
                    <h3>Zur folgenden Uhrzeit: (Sie k&ouml;nnen die Box auch f&uuml;r Kommentare / weitere Themen verwenden)</h3>
                    <textarea id="comment-form" class="form-control" rows="3" name="remarks" placeholder="Uhrzeit / Weitere Themen"></textarea>
                    <button id="submit-btn" type="button" name="submit" class="btn btn-custom" data-target="#feedback">Abschicken</button>
                </div>
                <div class="inform col-md-6">
                    <p>Wir freuen uns auf Ihren Besuch!</p>
                    <p>
                        Ihre Daten werden vertraulich behandelt, gem&auml;&szlig; unserer Datenschutzrichtlinien.
                        <a href="./../../public/pdf/AGB_Pixel_Robotics_EN_01_2021.pdf">Rechtliche Hinweise</a>
                    </p>
                    <p>* Pflichtfelder</p>
                    <p>Nach der Anmeldung erhalten Sie umgehend eine schriftliche Best&auml;tigung.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal" id="feedback" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" id="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>DANKE!</h6>
                <p>Wir haben Ihr Feedback erhalten.</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-ok" class="btn-custom" data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="not-all-required-fields" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" id="modal-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>BITTE ALLE NOTWENDIGEN FELDER AUSF&Uuml;LLEN</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="modal-btn-ok" class="btn-custom" data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<%- include('../includes/default-scripts'); -%>
</body>
</html>

<script>
    document.getElementById('scf-1').addEventListener('click', () => {
        document.getElementById('specific-cases-form').hidden = false;
        if (document.getElementById('scf-1').checked === true) {
            document.getElementById('scf-1').value = "Yes";
            document.getElementById('scf-2').value = "";
        }
    })
    document.getElementById('scf-2').addEventListener('click', () => {
        document.getElementById('specific-cases-form').hidden = true;
        if (document.getElementById('scf-2').checked === true) {
            document.getElementById('scf-2').value = "No";
            document.getElementById('scf-1').value = "";
        }
    })
    document.getElementById('sce').addEventListener('click', () => {
        if (document.getElementById('sce').checked === true) {
            document.getElementById('sce').value = "Supply Chain Engineering und Supply Network Planning";
        } else {
            document.getElementById('sce').value = '';
        }
    })
    document.getElementById('moa-1').addEventListener('click', () => {
        if (document.getElementById('moa-1').checked) {
            document.getElementById('moa-1').value = "Advanced Slotting";
        } else {
            document.getElementById('moa-1').value = '';
        }
    })
    document.getElementById('moa-2').addEventListener('click', () => {
        if (document.getElementById('moa-2').checked) {
            document.getElementById('moa-2').value = "optimierte Rundgangsbildung";
        } else {
            document.getElementById('moa-2').value = '';
        }
    })
    document.getElementById('moa-3').addEventListener('click', () => {
        if (document.getElementById('moa-3').checked) {
            document.getElementById('moa-3').value = "Kapazitäts- und Personaleinsatzplanung";
        } else {
            document.getElementById('moa-3').value = '';
        }
    })
    document.getElementById('moa-4').addEventListener('click', () => {
        if (document.getElementById('moa-4').checked) {
            document.getElementById('moa-4').value = "Karton(portfolio-)optimierung, Packanweisung";
        } else {
            document.getElementById('moa-4').value = '';
        }
    })
    document.getElementById('dt-1').addEventListener('click', () => {
        if (document.getElementById('dt-1').checked) {
            document.getElementById('dt-1').value = "Digitaler Zwilling für Lagerneuplanungen und Simulation von Layout- und Prozessänderungen";
        } else {
            document.getElementById('dt-1').value = '';
        }
    })
    document.getElementById('dt-2').addEventListener('click', () => {
        if (document.getElementById('dt-2').checked) {
            document.getElementById('dt-2').value = "Digitaler Zwilling zur Optimierung bestehender Abwicklungen";
        } else {
            document.getElementById('dt-2').value = '';
        }
    })
    document.getElementById('ai-1').addEventListener('click', () => {
        if (document.getElementById('ai-1').checked) {
            document.getElementById('ai-1').value = "Produkte messen und zählen, Barcodes und QR-Codes finden und dekodieren, Text lokalisieren und lesen – kein manuelles Scannen erforderlich";
        } else {
            document.getElementById('ai-1').value = '';
        }
    })
    document.getElementById('ai-2').addEventListener('click', () => {
        if (document.getElementById('ai-2').checked) {
            document.getElementById('ai-2').value = "Steuerung, Optimierung und Kontrolle des Packvorgangs";
        } else {
            document.getElementById('ai-2').value = '';
        }
    })
    document.getElementById('ai-3').addEventListener('click', () => {
        if (document.getElementById('ai-3').checked) {
            document.getElementById('ai-3').value = "Stammdatenerfassung mittels KI";
        } else {
            document.getElementById('ai-3').value = '';
        }
    })
    document.getElementById('rtl-rs-1').addEventListener('click', () => {
        if (document.getElementById('rtl-rs-1').checked) {
            document.getElementById('rtl-rs-1').value = "Tracking aller Bewegungen im Lager (Waren, Gabelstapler, Personen, …)";
        } else {
            document.getElementById('rtl-rs-1').value = '';
        }
    })
    document.getElementById('rtl-rs-2').addEventListener('click', () => {
        if (document.getElementById('rtl-rs-2').checked) {
            document.getElementById('rtl-rs-2').value = "Automatische Verbuchung im Lagerverwaltungssystem";
        } else {
            document.getElementById('rtl-rs-2').value = '';
        }
    })
    document.getElementById('rtl-rs-3').addEventListener('click', () => {
        if (document.getElementById('rtl-rs-3').checked) {
            document.getElementById('rtl-rs-3').value = "Intelligentes Flottenmanagement der Stapler- und AGV-Flotte";
        } else {
            document.getElementById('rtl-rs-3').value = '';
        }
    })
    document.getElementById('rtl-rs-4').addEventListener('click', () => {
        if (document.getElementById('rtl-rs-4').checked) {
            document.getElementById('rtl-rs-4').value = "Autonomer Boden-zu-Boden-Transportroboter, entwickelt und hergestellt von Pixel Robotics";
        } else {
            document.getElementById('rtl-rs-4').value = '';
        }
    })
    document.getElementById('app-1').addEventListener('click', () => {
        if (document.getElementById('app-1').checked) {
            document.getElementById('app-1').value = "am Dienstag, 31. Mai 2022";
            document.getElementById('app-2').value = "";
            document.getElementById('app-3').value = "";
        }
    })
    document.getElementById('app-2').addEventListener('click', () => {
        if (document.getElementById('app-2').checked) {
            document.getElementById('app-2').value = "am Mittwoch, 01. Juni 2022";
            document.getElementById('app-1').value = "";
            document.getElementById('app-3').value = "";
        }
    })
    document.getElementById('app-3').addEventListener('click', () => {
        if (document.getElementById('app-3').checked) {
            document.getElementById('app-3').value = "am Donnerstag, 02. Juni 2022";
            document.getElementById('app-1').value = "";
            document.getElementById('app-2').value = "";
        }
    })
    document.getElementById('btn-close').addEventListener('click', () => {
        $('#feedback').hide();
    })
    document.getElementById('btn-ok').addEventListener('click', () => {
        $('#feedback').hide();
    })

    document.getElementById('modal-btn-close').addEventListener('click', () => {
        $('#not-all-required-fields').hide();
    })
    document.getElementById('modal-btn-ok').addEventListener('click', () => {
        $('#not-all-required-fields').hide();
    })

    const submitted = () => {
        let name = document.getElementById('name').value;
        let company = document.getElementById('company').value;
        let jobTitle = document.getElementById('job-title').value;
        let email = document.getElementById('email').value;
        let phone = document.getElementById('phone').value;
        let supplyChainEngineering = document.getElementById('sce').value;
        let advancedSlotting = document.getElementById('moa-1').value;
        let optimizedTourBuilding = document.getElementById('moa-2').value;
        let capacityAndWorkforce = document.getElementById('moa-3').value;
        let cubing3D = document.getElementById('moa-4').value;
        let digitalTwinForPlanning= document.getElementById('dt-1').value;
        let digitalTwinForOptimization = document.getElementById('dt-2').value;
        let measureAndCountProducts= document.getElementById('ai-1').value;
        let managementOptimizationAndControl = document.getElementById('ai-2').value;
        let masterDataAcquisition = document.getElementById('ai-3').value;
        let trackingForAllTypes = document.getElementById('rtl-rs-1').value;
        let automaticBooking = document.getElementById('rtl-rs-2').value;
        let intelligentFleet = document.getElementById('rtl-rs-3').value;
        let autonomousFloor = document.getElementById('rtl-rs-4').value;
        let scfYes = document.getElementById('scf-1').value;
        let scfNo = document.getElementById('scf-2').value;
        let scfText = document.getElementById('specific-cases-form').value;
        let onTuesday = document.getElementById('app-1').value;
        let onWednesday = document.getElementById('app-2').value;
        let onThursday = document.getElementById('app-3').value;
        let commentForm = document.getElementById('comment-form').value;
        const error = document.querySelector('.invalid-feedback');

        if (name && company && email && (scfYes || scfNo) && (onTuesday || onWednesday || onThursday)) {
            fetch('api/mail/sendRegistrationForm', {method: 'POST', body: JSON.stringify({
                    name,
                    company,
                    jobTitle,
                    email,
                    phone,
                    supplyChainEngineering,
                    advancedSlotting,
                    optimizedTourBuilding,
                    capacityAndWorkforce,
                    cubing3D,
                    digitalTwinForPlanning,
                    digitalTwinForOptimization,
                    measureAndCountProducts,
                    managementOptimizationAndControl,
                    masterDataAcquisition,
                    trackingForAllTypes,
                    automaticBooking,
                    intelligentFleet,
                    autonomousFloor,
                    scfYes,
                    scfNo,
                    scfText,
                    onTuesday,
                    onWednesday,
                    onThursday,
                    commentForm
                })})
                .then((res) => res.json())
                .then((response) => {
                    if (response.data) {
                        console.log(response.data)
                        error.style.display = 'none';
                        window.location.replace("/admin/statistics");
                    } else {
                        error.style.display = 'block';
                    }
                })
                .then(() => {
                    $('#feedback').toggle();
                })
                .catch((err) => {
                    console.error(err)
                });
        } else {
            $('#not-all-required-fields').toggle();
        }
    };
    document.getElementById('submit-btn').addEventListener('click', () => {
        submitted()
    })

</script>
