<?php include "secure.php";?>
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Притулок у Львові | Shelter in Lviv</title>
    <link type="image/x-icon" rel="shortcut icon" href="/images/favicon.ico">
    <link type="image/png" sizes="16x16" rel="icon" href="/images/favicon-16x16.png">
    <link type="image/png" sizes="32x32" rel="icon" href="/images/favicon-32x32.png">
    <link type="image/png" sizes="192x192" rel="icon" href="/images/android-chrome-192x192.png">
    <link type="image/png" sizes="512x512" rel="icon" href="/images/android-chrome-512x512.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Days+One&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet/less" type="text/css" href="css/style.less" />
</head>
<body id="shelterinlviv">
<section class="">
    <div class="shelterinlviv-home container-xxl container-md">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-12 offset-0">
                <div class="main-screen">
                    <div class="row top-links">
                        <div class="col d-flex flex-column" style="padding-top: 30px;">
                            <a href="refugees" class="mb-1 d-flex align-items-start" target="_blank"><img src="images/link.svg" alt="link" style="width: 24px;margin-right: 5px"> Helfen Sie Kriegsflüchtlingen - zur deutschen Seite</a>
                        </div>
                        <div class="col d-flex flex-column" style="padding-top: 30px;text-align: right;">
                            <a href="mailto:khrystyna.balkova@logivations.com" class="mb-1">khrystyna.balkova@logivations.com</a>
                            <a href="tel:+380734182992">+38 073 4182 992</a>
                        </div>
                    </div>
                    <h1 class="text-center">ПРИТУЛОК У ЛЬВОВІ</h1>
                    <h2 class="text-center">SHELTER IN LVIV</h2>
                    <h3 class="">Ми намагаємось допомогти громадянам України з тимчасовим притулком та можливістю тимчасово виїхати з України до Німеччини та інших країн Європи.</h3>
                    <div class="row text-center">
                        <div class="col">
                            <img src="images/img-01.png" alt="Shelter in Lviv" class="img-responsive img-01">
                        </div>
                        <div class="col">
                            <img src="images/transfer.png" alt="Ukraine to EU" class="img-responsive img-01">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1 col-12 offset-0">
                <div>
                    <p>Перш за все, у Львові існує притулок, який можна використати як зупинку перед вашим наступним напрямком з України в Європу.</p>
                    <p>Підтримка є організована завдяки людям з львівської неприбуткової організації "Lviv Club of Artificial Intelligence", а також за підтримки Мюнхенських ІТ-компанїй
                        <a href="https://www.logivations.com/" target="_blank">"Logivations"</a> та <a href="http://www.pixel-robotics.eu/" target="_blank">"Pixel Robotics"</a>. Ця інформація є для всіх, кому це зараз потрібно.</p>
                </div>
            </div>
            <div class="col-md-10 offset-md-1 col-12 offset-0">
                <div class="add-info">
                    <p>У нашому львівському будинку ми підготували усі предмети першої необхідності (їжа, теплий одяг, спальні місця, інтернет). Звідти, ми допомагаємо з поїздкою до Німеччини/Баварії та інших місць Європи.</p>
                    <p>Ми також інформуємо про те, як дістатися до Німеччини/Баварії та інших місць Європи.</p>
                    <img src="images/img-02.png" alt="Ukraine to EU" class="img-responsive img-01 mt-3 mb-4">
                </div>
            </div>
            <div class="col-md-10 offset-md-1 col-12 offset-0">
                <div class="rules-info">
                    <h3>Правила проживання:</h3>
                    <ul>
                        <li>Тимчасовий притулок надається на термін до 3-ох днів</li>
                        <li>Перед заселенням необхідно надіслати нам фото документів</li>
                        <li>Час заселення з 8 ранку до 8 вечора</li>
                        <li>Приймаємо лише жінок та дітей</li>
                        <li>Прохання дотримуватися чистоти в будинку, прибирати за своїми улюбленцями</li>
                        <li>Якщо Ви хотіли б далі рухатися до Німеччини, Вам необхідно заповнити анкету для подальшого пошуку приймаючої сім’ї</li>
                        <li>Якщо Ви плануєте їхати до Німеччини чи перетнути кордон до Польщі і бажаєте скористатись трансфером чи житлом, які ми організовуємо, повідомте нас завчасно. Приймаючі сім’ї в Німеччині подбають про вас, коли ви приїдете до Німеччини</li>
                        <li>Якщо у вас змінились плани (ви передумали, знайшли інший трансфер), будь ласка, відразу повідомте нас</li>
                    </ul>
                    <br>
                    <p>Що чекає на Вас за кордоном? Читайте нижче.</p>
                </div>
            </div>
            <div class="col-md-10 offset-md-1 col-12 offset-0">
                <div class="contact-info">
                    <h3>Контактна інформація:</h3>
                    <ul>
                        <li><a href="mailto:khrystyna.balkova@logivations.com">khrystyna.balkova@logivations.com</a></li>
                        <li><a href="tel:+380734182992">+38 073 4182 992</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-10 offset-md-1 col-12 offset-0">
                <div class="add-info">
                    <h3>Дорога до країн ЄС</h3>
                    <p>Ми можемо організувати для групи бажаючих з будинку безкоштовний трансфер до кордону з Польщею, після цього потрібно буде перейти піший кордон. Ви також можете шукати трансфер до кордону самстійно, наприклад, подати заявку у телеграм групі «Волонтери водії». У Польщі не потрібно підписувати ніяких документів, чи оформляти статус біженця. Після перетину кордону, у вас є кілька варіантів того, як рухатися Європейським Союзом.</p>
                    <p style="font-weight: 600;border-left: 4px solid #E25303;padding-left: 15px">Важливо: ми не несемо відповідальності за Ваш доїзд до бажаного пункту призначення, адже ситуація з транспортом за кордоном постійно змінюється.</p>
                    <p>Передбачити завчасно, які варіанти на даний момент точно спрацюють, на жаль, неможливо. Проте, внизу ми зібрали можливі способи доїзду в межах ЄС.</p>
                </div>
            </div>

            <div class="col-md-10 offset-md-1 col-12 offset-0 mb-3">
                <div>
                    <h5 style="font-weight: 600;">1. Платний квиток на автобус.</h5>
                    <p>Ви можете забронювати та оплатити квиток з Польщі онлайн на сайті <a href="https://www.sindbad.pl" target="_blank">www.sindbad.pl</a>. Використайте QR код для купівлі квитка. Оберіть точку виїзду та бажаний пункт призначення та перевірте доступність квитків та їх вартість. Наприклад, квиток з Перемишля до Мюнхена коштує приблизно 57 €.</p>
                </div>
            </div>
            <div class="col-md-10 offset-md-1 col-12 offset-0 mb-3">
                <div>
                    <h5 style="font-weight: 600;">2. PKP Intercity (по Польщі, може їхати закордон, але це буде не безкоштовно) <a href="https://www.intercity.pl/en/" target="_blank">www.intercity.pl</a></h5>
                    <p>Громадяни України можуть безкоштовно подорожувати 2 класом потягами категорії економ TLK та ІC PKP Intercity у внутрішньому транспорті. Проїзд здійснюється на підставі будь-якого документа, що підтверджує громадянство України.</p>
                </div>
            </div>
            <div class="col-md-10 offset-md-1 col-12 offset-0 mb-3">
                <div>
                    <h5 style="font-weight: 600;">3. FlixBus (з Польщі) — <a href="https://www.flixbus.ua" target="_blank">www.flixbus.ua</a></h5>
                    <p>Безкоштовні поїздки від Flixbus з Перемишля та Жешува – онлайн-заявка!</p>
                    <p>Компанія FlixBus організовує безкоштовні поїздки для українців, яким потрібно виїхати з міст поблизу польського кордону.</p>
                    <p>Для отримання квитка потрібно оформити онлайн заявку. Для цього надішліть запит на електронну пошту <a href="mailto:service@flixbus.com.ua">service@flixbus.com.ua</a></p>
                    <p>Запит має містити всю наведену нижче інформацію:</p>
                    <ul style="margin-bottom: 15px">
                        <li>Назва електронного листa: УКРАЇНА (обов’язково для розгляду запиту!)</li>
                        <li>МІСТО ВІДПРАВЛЕННЯ (Перемишль / Жешув) – МІСТО ПРИБУТТЯ, дата та час відправлення, рейси слід перевіряти на сайті <a href="https://www.flixbus.ua" target="_blank">Flixbus.ua</a></li>
                        <li>Ім’я та прізвище подорожнього;</li>
                        <li>Номер телефону;</li>
                        <li>Адреса електронної пошти (ДУЖЕ ВАЖЛИВО: квиток буде надіслано на вказану адресу!).</li>
                    </ul>
                    <p>Після надсилання електронного листа на вищезгадану поштову скриньку ви можете отримати автоматичну відповідь – проігноруйте її та дочекайтеся зв’язку з консультантом. Команда обслуговування клієнтів оброблятиме запити з найвищим пріоритетом, однак у разі великого обсягу запитів, будь ласка, ставтеся з розумінням – очікування вашого квитка може зайняти до кількох годин. <a href="https://www.facebook.com/FlixBus" target="_blank">www.facebook.com/FlixBus</a></p>
                </div>
            </div>
            <div class="col-md-10 offset-md-1 col-12 offset-0 mb-3">
                <div>
                    <h5 style="font-weight: 600;">4. Polregio (по Польщі) <a href="https://www.polregio.pl" target="_blank">polregio.pl</a></h5>
                    <p>З 7 березня 2022 року біженці з України з громадянством України (діти та підлітки до 18 років, жінки, чоловіки старше 60 років) можуть безкоштовно проїжджати в поїздах REGIO та interREGIO у м. національний транспорт на підставі документа, що посвідчує особу.</p>
                </div>
            </div>
            <div class="col-md-10 offset-md-1 col-12 offset-0 mb-3">
                <div>
                    <h5 style="font-weight: 600;">5. SKM (по Польщі) <a href="https://www.skm.pkp.pl" target="_blank">skm.pkp.pl</a></h5>
                    <p>Щоб подорожувати безкоштовно, потрібен лише паспорт або будь-який інший документ, що підтверджує ваше громадянство.</p>
                </div>
            </div>
            <div class="col-md-10 offset-md-1 col-12 offset-0 mb-3">
                <h5 style="font-weight: 600;">6. Інші поїзди (з Польщі до Німеччини)</h5>
                <div class="row">
                    <div class="col-12 mb-4">
                        <p style="font-weight: 600">Wawel<br>(37000/56 Перемишль-Берлін)</p>
                        <a href="https://koleo.pl/pociag/IC/56-WAWEL" target="_blank">https://koleo.pl/pociag/IC/56-WAWEL</a>
                    </div>
                    <div class="col-12 mb-4">
                        <p style="font-weight: 600">Gedania<br>(57000/58 Гдиня-Берлін)</p>
                        <a href="https://koleo.pl/pociag/IC/59-GEDANIA" target="_blank">https://koleo.pl/pociag/IC/59-GEDANIA</a>
                    </div>
                    <div class="col-12 mb-4">
                        <p style="font-weight: 600">Berolinum<br>(17000/248 Варшава-Берлін)</p>
                        <a href="https://koleo.pl/uk/pociag/IC/249-BEROLINUM" target="_blank">https://koleo.pl/uk/pociag/IC/249-BEROLINUM</a>
                    </div>
                </div>
            </div>

            <div class="col-md-10 offset-md-1 col-12 offset-0 mb-3">
                <div>
                    <ul style="margin-bottom: 15px">
                        <li>
                            <p style="font-weight: 600;">Nightjet (456/60456 Вроцлав-Берлін)</p>
                            <p>Така поїздка можлива лише у 2 класі в вагонах з сидячими місцями. Для цієї подорожі необхідно отримати безкоштовний додатковий квиток до останньої станції Польщі в касі або у провідника в поїзді. У поїзді необхідно пред’явити паспорт, посвідчення особи чи інший документ, який підтверджує громадянство України. Подальша поїздка до Німеччини відбувається також на підставі цих документів.</p>
                            <p>Якщо в поїзді немає вільних сидячих місць, то можна їхати без бронювання місця для сидіння.</p>
                            <p>Перевезення вантажів і тварин для громадян України є безкоштовним та необмеженим (вони можуть взяти з собою більше речей і тварин, ніж дозволено).</p>
                            <p>Ці правила діють до скасування.</p>
                        </li>
                        <li>
                            <p style="font-weight: 600;">Варшава</p>
                            <p>Громадський транспорт у Варшаві для українців – безплатно. Треба  мати з собою  лише український паспорт. Таким є рішенням мера Варшави Рафала Тшасковського.</p>
                        </li>
                        <li>
                            <p style="font-weight: 600;">Краків</p>
                            <p>У Кракові біженців з України звільнили від плати за проїзд міськими автобусами. Проте тут будь-який документ не буде достатнім, оскільки слід мати при собі направлення, видане Малопольським воєводським управлінням.</p>
                            <p>Звільнення від оплати поширюється на громадський транспорт у Кракові та сусідніх гмінах, які підписали угоду зі столицею регіону про спільне надання транспортних послуг.</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-10 offset-md-1 col-12 offset-0 mb-3">
                <div>
                    <h5 style="font-weight: 600;">7. DB (по Німеччині, з Німеччини, в Німеччину з Польщі) <a href="https://www.bahn.de/" target="_blank">www.bahn.de/</a></h5>
                    <p>Маючи при собі український (закордонний) паспорт чи ID-картку, ви маєте можливість безкоштовного проїзду в поїздах до Берліну, Дрездену, Нюрнбергу та Мюнхену; наявність квитка за цими маршрутами не потрібна.</p>
                    <p>Але якщо ви плануєте їхати далі від вище вказаних міст, то вам необхідно звернутися в Центр подорожуючих німецької залізниці «DB Reisezentrum» чи в представницьку агенцію компанії «DB» та отримати безкоштовний квиток з позначкою „helpukraine“ («допомогадляукраїни»). Квиток дає право на проїзд у вагонах 2-го класу і дійсний до кінцевої точки призначення. Під час перевірки квитків пред’явіть, будь ласка, борд-провіднику поїзда документ, що засвідчує вашу особу: український (закордонний) паспорт чи ID-картку.<a href="https://www.bahn.de/info/helpukraine"></a>www.bahn.de/info/helpukraine</p>
                </div>
            </div>

            <div class="col-md-10 offset-md-1 col-12 offset-0 mb-3">
                <div>
                    <h5 style="font-weight: 600;">8. MVV (Баварія - громадський транспорт) — <a href="https://www.mvv-muenchen.de" target="_blank">www.mvv-muenchen.de</a></h5>
                    <p>Відтепер біженці з України можуть безкоштовно користуватися громадським транспортом у районі МВВ.</p>
                </div>
            </div>

            <div class="col-md-10 offset-md-1 col-12 offset-0 mb-3">
                <div>
                    <h5 style="font-weight: 600;">ДОДАТКОВА ІНФОРМАЦІЯ ПРО БЕЗКОШТОВНИЙ ТРАНСПОРТ В ЄВРОПІ ДЛЯ УКРАЇНЦІВ:
                        <br><a href="https://lowcostavia.com.ua/free-transport-for-ukrainians/" target="_blank">lowcostavia.com.ua/free-transport-for-ukrainians/ </a></h5>
                    <p></p>
                </div>
            </div>

            <div class="col-md-10 offset-md-1 col-12 offset-0">
                <div class="add-info">
                    <h3>Житло</h3>
                    <p>Наша україномовна команда в Німеччині готова проінформувати Вас про те, як знайти там житло. Термін прийому та умови уточнюються індивідувально. По прибуттю до Німеччини наші координатори зв’яжуться з Вами та допоможуть добратися до пункту призначення, якщо Ваша приймаюча сім’я з нашої бази контактів у Мюхені. У іншому випадку, Вам самим потрібно сконтактуватися з організацією, відповідальною за Ваше поселення. На вокзалах та у всіх містах країн ЄС є багато волонтерів, які допоможуть Вам швидко знайти житло.</p>
                </div>
            </div>

            <div class="col-md-10 offset-md-1 col-12 offset-0" >
                <div style="margin-bottom: 30px">
                    <p style="font-weight: 600; font-size: 2em">Жінки та діти у пріоритеті.</p>
                    <p>Ми працюємо разом з місцевою організацією, яка надає кімнати, наприклад, у регіоні Баварії:</p>
                    <a class="link" href="https://shelterinbavaria.site/" target="_blank">shelterinbavaria.site</a><br><br>
                    <p>або по всій Німеччині:</p>
                    <a class="link" href="https://unterkunft-ukraine.de/" target="_blank">unterkunft-ukraine.de</a><br><br>
                    <p>У Німеччині є україномовні колеги, які допоможуть на місці.</p>
                </div>
            </div>

            <div class="col-md-10 offset-md-1 col-12 offset-0">
                <div class="add-info">
                    <h3>Захист українських переселенців у Німеччині</h3>
                    <p>Рада Євросоюзу ухвалила екстрене рішення про механізм захисту біженців з України, які втекли від російської агресії.</p>
                    <p style="font-weight: 600">Тимчасовий захист осіб, які тікають з України внаслідок війни, надається терміном на один рік віднині; це рішення діє на масовій основі і не потребує вивчення даних конкретної особи.</p>
                    <p>"Цей захист може автоматично подовжуватися 6-місячними періодами, максимум на один рік. Єврокомісія може запропонувати Раді продовжити тимчасовий захист ще на один рік", - пояснює Рада ЄС. Підкреслюється також, що у разі якщо ситуація в Україні нормалізується настільки, "що дозволяє безпечне та тривале повернення", ЄС може достроково зупинити дію захисного механізму.</p>
                    <p>Раніше повідомлялося, що ЄС прийматиме українських біженців на 3 роки без запиту на притулок.</p>
                    <p>За ухваленим рішенням українці, отримують право на проживання, роботу в будь-якій державі ЄС, доступ до медичної допомоги та освіти для дітей.</p>
                    <p>Особливість механізму тимчасового захисту – те, що він діє колективно, тобто не потребує розгляду індивідуальних заяв про притулок.</p>
                    <p>Скористатися цим механізмом можуть громадяни України, які виїхали за кордон після 24 лютого 2022 року. Утім, окремі держави-члени можуть поширити дію цього механізму також на тих українців, які втекли незадовго до 24 лютого або опинилися на території ЄС безпосередньо перед цією датою, наприклад, для відпустки чи роботи.</p>
                    <p>Коротко: українці отримують пільги для покриття потреби в їжі, житлі, опаленні, одязі, медичних послугах, а також побутових товарах і витратних матеріалах (необхідні потреби). Крім того, їм надаються пільги для покриття особистих потреб повсякденного життя, доступ до безкоштовної медицини, освіти для дітей та працевлаштування.</p>
                    <p>“Тому активація механізму приносить різні переваги. Біженці, які підпадають під дію постанови, мають доступ до соціальної системи, країни-члени мають піклуватися про житло та навчання дітей. Крім того, кожен, хто потрапить під регламент, одразу отримає дозвіл на роботу в усіх країнах ЄС.” (джерело: Deutsche Welle)</p>
                    <p>Також організовуються мовні курси та сприяють тому, щоб жити у середовищі відповідної держави ЄС.</p>
                    <p style="font-weight: 600">Ви можете прочитати більше за посиланнями внизу.</p>
                    <p><a href="https://www.eurointegration.com.ua/news/2022/03/4/7135252/" target="_blank">ЄС ухвалив механізм захисту українських біженців без подання на притулок</a> (Європейська правда)</p>
                    <p><a href="https://www.proasyl.de/news/ratsbeschluss-schneller-schutz-fuer-fluechtlinge-aus-der-ukraine/" target="_blank">Ratsbeschluss: Schneller Schutz für Flüchtlinge aus der Ukraine</a> (PRO ASYL, стаття німецькою)</p>
                </div>
            </div>

            <div class="col-md-10 offset-md-1 col-12 offset-0">
                <div class="add-info">
                    <h3>Додаткова інформація:</h3>
                    <p>Біженці з України тепер можуть використовувати близько 40 міжнародних поїздів далекого сполучення, щоб без квитка дістатися до Німеччини з Польщі, Австрії та Чехії. Європейські залізниці відповідно розширили свою пропозицію, як повідомляє Deutsche Bahn. Новим є співробітництво із залізницями Чехії та Австрії. Це означає, що подорожі через три згадані країни до Берліна, Дрездена, Нюрнберга та Мюнхена тепер можливі без квитка.
                        Як повідомляє Deutsche Bahn, є безкоштовний квиток «helpukraine» для подальших поїздок до Німеччини, який біженці з України можуть отримати у всіх туристичних центрах та агентствах DB. Це стосується міжміських та місцевих поїздок до будь-якого пункту призначення по всій Німеччині, а також поїздок на поїздах ICE, TGV або Thalys до Данії, Бельгії, Франції та поїздів до Австрії, Люксембургу, Нідерландів та США, Швейцарії та в Eurocity. поїзди до Італії.
                        За словами залізниць, усіма місцевими потягами можна безкоштовно користуватися по всій Німеччині. За інформацією, для цього достатньо українського паспорта чи ID-картки.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/4.1.2/less.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
