@import './constants';

/* General Reset */
html, body {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  color: #291F1E;
  font: 16px/26px 'Poppins', Arial, Helvetica, sans-serif;
  background: #fff;
  min-width: 320px;
}
img {
  border-style: none;
  width: 100%;
}
input,
textarea,
select {
  color: #02040f;
  vertical-align: middle;
  font: 100% 'Poppins', Arial, Helvetica, sans-serif;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
  border: none;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: none;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none;
  cursor: pointer;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}
blockquote,
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
}
a {
  color: #02040f;
  text-decoration: none;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
a:hover {
  color: #E25303;
  text-decoration: none;
}
a:focus,
button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

*:after,
*:before,
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container:after,
.container:before,
.container-large:after,
.container-large:before
{
  content: '';
  display: table;
  clear: both;
}
.clearfix:after,
.clearfix:before {
  content: '';
  display: block;
  clear: both;
}
.container-fluid {
  padding: 0 32px;
}
@media (min-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

h1 {
  font-size: 4em;
  font-weight: 600;
}
h2 {
  font-size: 3em;
  font-weight: 600;
}
h5  {
  line-height: 1.6;
}
.title-holder {
  margin-bottom: 64px;
}
#main {
  position: relative;
}
#header {
  background: @white-color;
  box-shadow: @custom-shadow;
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 15px 0;
  .header-logo {
    max-width: 120px;
  }
  .main-nav {
    li {
      margin-left: 30px;
      .active-nav {
        color: @main-orange-color;
        border-bottom: 1px solid;
      }
    }
  }
}

/* Footer */

#footer {
  padding: 32px 0 16px;
  //position: absolute;
  //bottom: 0;
  width: 100%;
  background: @white-color;
  border-top: 1px solid #d3d3d3;
  .footer-logo {
    width: 120px;
    display: flex;
    justify-content: right;
  }
}
#footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  flex-direction: row;
}
#footer ul li {
  margin: 0 0 15px;
}
#footer ul li+li {
  margin-left: 30px;
}

/* Impressum page */

.impressum {
  padding: 30px 0;
}
.impressum h1 {
  float: none;
  max-width: inherit;
  text-align: center;
  animation: inherit;
}
.impressum h2 {
  text-align:left;
  margin-bottom: 15px;
  text-transform: none;
}
.impressum h2:after{
  display:none;
}
.impressum address{
  margin: 0 0 15px;
}
.impressum p {
  margin:0 0 15px;
}
.impressum p:last-child{
  font-size: 15px;
  color: #737373;
}

/* custom button */

.btn-custom {
  display: flex;
  justify-content: center;
  border-radius: 6px;
  width: max-content;
  min-width: 120px;
  height: 48px;
  padding: 0 32px;
  line-height: 48px;
  margin: 0;
  color: @white-color;
  box-shadow: @custom-shadow;
  background: @main-orange-color;
  background-size: 200%;
  animation: appear 3s;
  &:hover {
    background: @main-orange-hover-color;
    color: @white-color;
  }
}
.o-text {
  font-weight: 600;
  color: @main-orange-color;
}
.bold-text {
  font-weight: 600;
}

.cookieElement {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  visibility: visible;
  opacity: 1;
  transform: translateY(150%);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}
.cookieElement.is-visible {
  transform: translateY(0%);
}
.cookieElement {
  background-color: rgba(34, 34, 34, 0.9);
  padding: 10px 20px;
  color: #f9f9f9;
}
.cookieElement a {
  white-space: nowrap;
  color: #fcb92a;
}
.setCookieBtn {
  cursor: pointer;
  -webkit-appearance: none;
  border: 2px solid #fcb92a;
  border-radius: 4px;
  font-weight: 600;
  font-size: 1em;
  background-color: transparent;
  color: #fcb92a;
  margin-left: 10px;
  outline: 0;
  padding: 7px;
  max-width: 150px;
  width: 100%;
  float: right;
  min-width: 150px;
}
.setCookieBtn:hover {
  color: #222;
  background-color: #fcb92a;
}
.cookie_text {
  float: left;
}
.cookie_text p {
  margin: 0 0 15px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 25px;
  -webkit-box-shadow: none;
  background: @main-orange-color;
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #C6C6C6;
}
